[2012-10-30 19:56] sokra opened #2 "for Scripted"
Issues from https://issuetracker.springsource.com/browse/SCRIPTED-117 @kdvolder

It does a bit of caching. It caches every io call for a short amount of time (currently fixed to 4 seconds), because webpack does many calls to resolve in parallel and that results in many similar io calls. It also combine parallel equal io calls to one. This libary is build for performance because resolving is a perf

[2014-02-13 12:57] gunta opened #3 "Resolve main entry for bower and component"
Hi!

I would like to see support out of the box in webpack for not only **npm**, but also the other very popular package managers, **bower** and **component**.

I'm guessing it should be a matter of adding this:
[code]

Thank you!

[2014-05-22 08:38] gunta opened #6 "Multiple modules support for alias"
Hi, currently I have the following alias configuration, which then I need to remember to include both files whenever I want to use the component:

[code]

But would like to have only one entry for both files, like this:

[code]

What do you think?

[2014-05-22 10:15] #2 closed, assigned to nobody

[2014-05-28 05:50] #6 closed, assigned to nobody

[2014-11-21 09:48] davistan opened #11 "Resolver for external filesystem"
Hi, wondering whether this is a best fit for such use-case.
We have files in mongodb gridfs and would like to use webpack to process files within the gridfs.

Is writing a custom-resolver the right approach?

[2015-02-03 04:03] joscha opened #12 "bower component main field can be array"
I bower, the `main` field in `bower.json` can be an array, e.g.: https://github.com/rstacruz/nprogress/blob/master/bower.json#L12 - would you merge a PR for that? Currently as a workaround you have to set `alias`es within the `webpack.config.js` for those libraries.

[2015-02-03 04:05] joscha opened #13 "Issue with leading dot on component definitions"
Webpack seems to have problems with bower components defining the main file in a relative manner with a leading `.` (e.g.: https://github.com/Wolfy87/EventEmitter/blob/master/bower.json#L6) - is that something that is discouraged? If yes, I will continue to use `alias`es - if not, I might provide a PR to fix it.

[2015-02-03 04:25] joscha commented on #13
The `.` is not the problem here, the `main` section is also an array, even though there is only one entry in it, so it's actually the same issue as #12.

[2015-02-03 04:25] #13 closed

[2015-02-03 22:38] sokra commented on #12
This can be handled in enhanced-resolve. Check https://github.com/lpiepiora/bower-webpack-plugin

[2015-02-05 13:00] joscha commented on #12
@sokra I'll give it a try.

[2015-02-05 13:00] #12 closed

[2015-03-22 15:59] sebastiandeutsch commented on #3
@akre54 I have the same problem. Do you have a solution yet?

[2015-03-22 16:18] akre54 commented on #3
We moved on from Chaplin, but as I recall there was a bug in
ContextRequirePlugin that sokra fixed pretty quickly. Try searching the
issues for my name.

On Sun, Mar 22, 2015, 11:59 Sebastian Deutsch <notifications@github.com>
wrote:

[2015-04-14 14:48] quarterto commented on #3
@gunta concatenating the files wouldn't always work. I've seen modules with main containing a JS file and a CSS file.

[2015-04-15 05:20] gunta commented on #3
@quarterto that is still ok. You can have "sensible" values for the plugin as in:
[code]

[2015-04-15 12:09] quarterto commented on #3
What if you're not using Webpack for CSS?

[2015-04-16 05:41] gunta commented on #3
@quarterto Well the idea is to optimise the workflow for the common case where you do use WebPack for all the assets.

Let's say you have the following library in a "widget-button" folder:
[code]

Doing
[code]
should require both files.

If you want to, for some reason, not use Webpack for the CSS, or not include any other assets,
you would do
[code]

[2015-05-24 18:59] rpominov opened #16 "Flow complainis on `invalidPackageJson/package.json`"
Hi, I'am truing out Flow, and have a problem with this module. Here what it is outputting:

[code]

As far as I understand, it scanning `/node_modules/` for some reason, and fails on your broken fixture module. Could you, perhaps, exclude tests from npm package, by adding them in `.npmignore`? If you could do that, that would be great!

[2015-05-31 00:29] mvayngrib opened #17 "fails if extension missing in browser field left side"
hey guys, ran into this issue:

works:

[code]

doesn't

[code]

[2015-06-09 19:29] callumlocke opened #18 "Can't find any documenatation"
The documentation link points to the front page of the Webpack wiki, which then links to the Webpack website. I can't find any documentation about what this module does or how to use it (although it looks very useful from looking at the code).

I want to know:
- Does this implement defunctzombie's [browser field spec](https://gist.github.com/defunctzombie/4339901)?
- If so, am I correct in underst

[2015-06-24 11:01] adjohu commented on #16
Yeah I'm having issues with this as well.

[2015-06-24 12:27] rpominov commented on #16
I've solved this by adding following to `.flowconfig`:

[code]

Had to add couple others, btw.
And note that an ignore string is a regexp, I didn't get it at first.

[2015-06-28 23:23] bendman commented on #16
The pull request #19 should fix this issue, still waiting on feedback. This breaks the Flattener package, which flattens the node_modules folder to stop breaking on Windows.

[2015-07-23 21:12] sokra commented on #18
yes

yes, similar. Plugin based.

[2015-07-23 21:12] sokra commented on #17
What does the spec say?

[2015-07-23 21:22] mvayngrib commented on #17
it's not exactly an official spec, do you mean this? https://gist.github.com/defunctzombie/4339901

if so, the spec doesn't specify whether you need extensions or not, though the examples provided do have them

[2015-07-23 21:30] sokra commented on #17
hmm... `name of file`... not sure... I would interpret it as it should be a file name not a request string.

cc @defunctzombie

[2015-07-23 21:33] mvayngrib commented on #17
i'd say there's some precedent for support as node's require is lenient in this respect: you can require('./blah) or require('./blah.js')

[2015-10-21 05:54] chemzqm opened #23 "No export for DirectoryDescriptionFileFieldAliasPlugin ?"
It's not exists in node.js file,  I thought it would be there, need PR?

[2015-12-15 18:15] amaschas commented on #6
Has there been any progress on this? I read the entire thread this issue was merged into, and it seems to relate to entirely separate issue. I'm having this same problem, and looking for a solution.

[2016-02-25 20:37] mark-slepkov commented on #18
Hello friends. I'm using bower in my projects and I writing a bower modules which will be check in my projects.
Usually it is a simple modules which is have one entry point. And my bower.json looks like` {..., main: 'src/entry_point.js', ..}`. And my webpack config have the strings: ```
plugins: [
                new webpack.ResolverPlugin([
                            new webpack.ResolverPlugin.D

[2016-03-15 06:08] grrowl commented on #18
:+1:

Can't find any documentation about a migration path from Webpack v1 -> v2. I'm trying to incorporate the (component-resolver-webpack)[https://github.com/toptal/component-resolver-webpack/] plugin but there's no documentation about it.

[2016-03-28 08:05] benjycui opened #27 "feature request: could `resolve.alias` be greedy?"
It seems that enhanced-resolve cannot handle different modules which have the same prefix.

[code]

Or could you provide other solution which can do what I want? THX :-)

[2016-04-14 01:21] benjycui commented on #27
Sorry, I found a solution.

[2016-04-14 01:21] #27 closed

[2016-05-04 09:21] cnlevy commented on #3
The current implementation for `new DirectoryDescriptionFilePlugin("bower.json", ["main"])`
doesn't work for bower.json description files when 'main' field is an array.

For example in the [angular-xeditable](https://github.com/vitalets/angular-xeditable/blob/master/bower.json) bower.json description file:
[code]
[angular-growl-2](https://github.com/JanStevens/angular-growl-2/blob/master/bower.jso

[2016-05-06 12:47] sokra commented on #23
it's now available though options

[2016-05-06 12:47] #23 closed

[2016-05-06 12:48] sokra commented on #3
There is a bower-plugin, which should handle this

[2016-05-06 12:48] #3 closed

[2016-05-06 12:49] #11 closed

[2016-05-06 12:49] #16 closed

[2016-05-06 12:50] sokra commented on #17
Propably fixed

[2016-05-06 12:50] #17 closed

[2016-06-10 15:52] pornel opened #30 "Is Bower supported?"
I'm trying to mix npm and bower components in webpack2.

I have:
- `lib/entry_point.js` with `require('bowerlib')` intended for bower, and other npm requires
- `bower_components/bowerlib/main.js` with `require('raven-js')`
- `bower_components/raven-js` that specifies `dist/raven.js` as `main`.
- `node_modules` with lots of npm modules installed

I've tried:
- out of the box webpack2: can't find `b

[2016-07-03 19:58] zygimantas opened #31 "RangeError: Maximum call stack size exceeded"
I am getting this error while trying to run webpack (2) command on Azure:

[code]

Is this caused by my configuration or it's a bug in enhanced-resolve?

[2016-07-05 12:07] s-panferov opened #32 "Slow module resolution with several `modules` folders"
Hi @sokra,

I faced with strange issue with _very_ slow build and debugging showed that if I add several folder to `modules`, webpack will search in **every** additional folder **several times** even when target module can be found in the first folder. Is this behavior desired?

How to debug:

[code]

then add console.log here: https://github.com/webpack/enhanced-resolve/blob/master/lib/ModulesInR

[2016-07-07 11:51] Hihaj commented on #31
I'm seeing this as well (using webpack 1.13.1), also on Azure (App Service).

[2016-07-12 18:38] taylorstine opened #34 "How do you plug this in to webpack?"
How do you set the webpack resolver to the output of `createResolver()`?

[2016-07-29 00:33] sebastiandeutsch opened #35 "New resolve mechanism breaks directory named plugin"
I'm trying to use the [directory-named-webpack-plugin](https://github.com/shaketbaby/directory-named-webpack-plugin/) with `webpack 2.1.0-beta.20`, but unfortunately it breaks. It seems that some internals have changed: `request.request` and `this.forEachBail` are both `undefined`. I've gotten pretty far by adapting the [CloneBasenamePlugin](https://github.com/webpack/enhanced-resolve/blob/master/

[2016-08-08 22:04] mnpenner commented on #6
2nded. jQuery UI appears to have broke in v1.12 -- they split all the widgets into separate files and didn't provide a bundle so now I have no choice but to include them all separately. I'd like to make an alias that includes the whole lot of them so that I don't have to go around and fix all the things they broke.

[2016-08-16 03:21] wcjordan opened #36 "Memoize calls to memory-fs join for performance"
Calls to Resolver normalize can take up 5% to 8% of the build time.  If we memoize these calls we can improve webpack build performance.  Memoizing the join call seems to be the best place to intercept calls to memory-fs.  I'll put up a PR if this sounds reasonable.

Before
<img width="475" alt="before" src="https://cloud.githubusercontent.com/assets/1034455/17686918/8b03471e-633e-11e6-9af4-30a6a8

[2016-08-17 10:25] sokra commented on #36
Thanks

[2016-08-17 10:25] #36 closed

[2016-08-17 10:25] sokra commented on #35
yep, closing as you already forked it

[2016-08-17 10:25] #35 closed

[2016-08-17 10:28] sokra commented on #34
webpack uses it and passes all options passed to `resolve` into the factory. If you want to modify it use plugins `resolve.plugins`.

But you can override it (which I don't recommend): `complier.resolvers.normal = ...`

[2016-08-17 10:28] #34 closed

[2016-08-17 10:42] sebastiandeutsch commented on #35
:-) no problem. For someone who comes here from Google a version that works with Webpack 2.x can be found [here](https://github.com/sebastiandeutsch/component-directory-webpack-plugin).

[2016-08-22 09:32] readme42 commented on #30
@pornel did u find a solution or workaround?

[2016-08-22 11:44] pornel commented on #30
No I haven't.

[2016-08-24 16:29] webdesserts opened #40 "How do you create a Noop resolve plugin?"
Hello! I'm trying webpack 2 and found the need to make a plugin. I would like to listen into when a module tries to resolve without actually attempting to resolve the file myself. I tried using `done()` in a similar manner to some of the other plugins like so:

[code]

But that gives several errors like the following (own custom log output):
[code]

I also looked into using `this.doResolve()` but

[2016-08-24 16:42] webdesserts commented on #40
I'm closing this issue for now as it seems the `done(null, data)` call works as expected (I think I'm getting errors from elsewhere)

[2016-08-24 16:42] #40 closed

[2016-09-03 16:16] IgnusG opened #41 "Query not passed in aliased loader"
I'm getting the same unexpected behavior as in https://github.com/webpack/webpack/issues/1289. Aliased loaders do not receive query parameters. I checked the code and it seems the fix that was used before wasn't migrated with the new versions.

_Node: v5.12.0_
_webpack: 1.13.2_

[2016-09-10 20:53] sthzg opened #43 "Should purge() clear _readJsonStorage?"
By trying to solve [this problem](http://stackoverflow.com/questions/39428200/webpack-plugin-readjson-after-inputfilesystem-purge) I realized that invoking [`purge()`](https://github.com/webpack/enhanced-resolve/blob/master/lib/CachedInputFileSystem.js#L171)

[code]

does not clear `_readJsonStorage` and just wanted to confirm if this is intended or not.

[2016-09-12 01:05] bt commented on #30
@pornel @readme42

Try my PR#42.

- Add `"enhanced-resolve": "git://github.com/bt/enhanced-resolve.git#patch-1"` into your `package.json` file.
- `rm -rf node_modules`
- `npm install`

Try the following configuration in your Webpack config:

[code]

Install a Bower component:

`bower install jquery`

You should be able to use import jQuery in your `.js` files.

[code]

If this works, we can get @s

[2016-09-12 07:58] pornel commented on #30
cc @quarterto @rowanbeentje

[2016-09-20 01:21] bt commented on #30
@pornel Did you have any luck? It's working for me so I'd love to get this confirmed and merged in so I don't need to include my Git repo in all my projects 😉

[2016-09-20 10:32] rowanbeentje commented on #30
@bt This is likely now with me - @pornel has sadly changed jobs so no longer working on the project he was running into the problem on.  I've tried to replicate this but I don't think he ever committed his webpack2 work, and my lack of familiarity with webpack2 means I can't reproduce this easily (although I'm past the most basic plugin changes I need to work through our fairly complex setup and h

[2016-10-07 18:49] DylanPiercey opened #44 "Disable browser field."
Is it possible to disable browser field checking in this module?

[2016-10-25 16:21] vjpr opened #45 "Backport preserve-symlinks fix to enhanced-resolve@0.9 for webpack@1"
@sokra Could we get a backport to `enhanced-resolve@~0.9`?

`create-react-app` depends on `webpack@1.13.2` which depends on `enhanced-resolve@~0.9` and when installing with `pnpm` to a global symlinked store (the fastest way to install deps currently and what yarn may support eventually), it does not work.

[2016-10-31 21:27] johnnyreilly opened #46 "Would you consider exposing a sync resolve function?"
Both [awesome-typescript-loader](https://github.com/s-panferov/awesome-typescript-loader/blob/master/src/paths-plugin.ts) and [ts-loader](https://github.com/TypeStrong/ts-loader/blob/944d9c2254efef5c947d06eecc61acd84c72379d/resolver.ts) are presently rolling their own sync resolver functions.  It'd be great to get official support for this directly.  Is that something you'd consider supporting?  I

[2016-11-18 15:55] sokra commented on #44
Sure, it's a config property.

[2016-11-18 15:55] #44 closed

[2016-11-18 15:56] sokra commented on #43
Yes it should. Do you want to do a PR?

[2016-11-18 16:08] sthzg commented on #43
@sokra absolutely. not sure I will get to it this weekend, if not I will submit a PR at the beginning of the next week.

[2016-11-19 01:05] bt commented on #30
Now that #42 has been merged, it'd be good to revisit this issue to see if it's been solved :smile:

[2016-11-19 16:42] niieani commented on #46
If possible, it would be useful for my webpack dependency suite too. Would be especially useful if the sync resolve function could return cached values from the async resolve if the FS is async in the calling context.

[2016-12-07 06:39] johnnyreilly opened #50 "CachedInputFileSystem is imported but never used in ResolverFactory"
Is that right? There seems to be no purpose to this line:

[code]

https://github.com/webpack/enhanced-resolve/blob/master/lib/ResolverFactory.js#L11

[2016-12-11 18:27] johnnyreilly commented on #46
So it turns out this is catered for; just not really documented.  I've written a blog post about it [here](http://blog.johnnyreilly.com/2016/12/webpack-syncing-enhanced-resolve.html).  The TL;DR; show me an example is:

[code]

[2016-12-11 19:58] niieani commented on #46
@johnnyreilly Would this work with a custom `fs` though?

[2016-12-11 20:13] johnnyreilly commented on #46
I haven't tried - have a go!

[2016-12-13 21:45] spalger commented on #41
@sokra the fix for this is really simple, but fixing it in webpack 1.x will require either releasing a patch for 0.9 or upgrading webpack 1.x to use the latest enhanced-resolve. Thoughts?

I'm happy to submit the fix but need a target branch to point to

[2016-12-19 10:42] #50 closed

[2016-12-28 09:00] johnnyreilly opened #55 "npm link / potential memory leak issue"
@pelotom reported an issue when using ts-loader (which uses enhanced-resolve).  Details here: https://github.com/TypeStrong/ts-loader/issues/420#issuecomment-269446005

As you can see, @pelotom has now found a workaround and so isn't looking at this anymore.  This is not my issue but I wanted there to be some visibility of a potential problem in case it's something that merits attention.

[2017-01-19 02:10] mikeerickson opened #57 "Refactor forEach to for"
See webpack issue for background

https://github.com/webpack/webpack/issues/4031

[2017-01-24 23:56] nicosesma opened #59 "ES6 Translations"
Tried to update some of the files to ES6 and encountered some linting errors while doing so. Is this happening because this project supports an older version of node or is it due to the configuration for eslint? @sokra would you mind clarifying this issue or pointing me towards the correct direction.

[2017-02-01 18:53] klihelp opened #73 "Why process commented line?"
On Build, Why processing commented line?
[code]

[code]

ps - Using latest version3+.

Similar issue in angular aot build: Cannot determine the module for class
https://github.com/angular/angular/issues/13590

Potentially on ng-router-loader:
https://github.com/shlomiassaf/ng-router-loader/issues/3

[2017-02-04 00:25] jorupp opened #76 "Added node 4.x dependency in 3.1"
Some people are still using an old version of node with webpack 1.13.0 and ts-loader 1.3.3, but ts-loader 1.3.3 references enhanced-resolve ^3.0.0, which now breaks with 3.1 requiring a newer version of node.

Shouldn't the added dependency make this 4.0?

[2017-02-06 18:02] vutran commented on #76
Also am experiencing this issue with one of our legacy software.

[2017-02-11 13:12] linaspa commented on #30
@bt @pronel @sokra The main problem is enhanced-resolve plugin doesn't support bower.json main field when libraries are listed in an array format. The problem is in "MainFieldPlugin.js" file, where all non-string main fields are being ignored.

Looks like it's an old problem that was not resolved in: #12 #3 . All issues were closed in favor of https://github.com/lpiepiora/bower-webpack-plugin plug

[2017-02-12 23:12] linaspasv opened #80 "Resolve multiple files with a single require"
I am working on a bower support plugin where I would like to resolve multiple files once a single require being called.

Lets say I do `` require('bootstrap') `` and this should include multiple files:

[code]

Here is my test code:

[code]

The problem is that only the first file is being included and others ignored. Is this behaviour possible with enhanced-resolver plugin? Any ideas or example w

[2017-02-14 14:24] linaspasv commented on #30
I have made a small plugin to support bower.json main field in array format: https://github.com/codewizz/bower-resolve-webpack-plugin

[2017-02-14 14:25] linaspasv commented on #12
I have made a small plugin to support array like ``main`` fields in ``bower.json``: https://github.com/codewizz/bower-resolve-webpack-plugin

[2017-02-14 14:26] linaspasv commented on #3
I have made a small plugin to support array like ``main`` fields in ``bower.json``: https://github.com/codewizz/bower-resolve-webpack-plugin

[2017-03-21 07:51] whitecolor commented on #45
Nasty problem.

[2017-03-21 08:11] whitecolor commented on #45
I believe this is the solution:
https://webpack.js.org/configuration/resolve/#resolve-symlinks

[2017-03-24 13:15] rexxars opened #83 "Cannot read property 'lastIndexOf' of undefined"
Sorry for the crappy title, hard to figure out something descriptive for this.

I'm trying to create a webpack resolver/plugin where something arbitrary (`foo:bar:baz`) is resolved to a filesystem location (after some async work figuring out which file).

This is kind of hard, as I can't seem to hook in to the resolve infrastructure "early enough". I've added a regular resolver plugin, but the `ap

[2017-03-31 16:33] ambischof commented on #30
What is currently the status of this issue? It's blocking me from upgrading to webpack 2.

[2017-04-04 11:01] jhnns commented on #83
Thanks for reporting this. Do you have any example repo you can share with us to reproduce this?

[2017-04-04 13:27] rexxars commented on #83
Got some help from @bebraw today and eventually figured out that I was calling `doResolve()` without a `path` property in the second argument object. My bad, sorry.

[2017-04-04 13:27] #83 closed

[2017-04-04 13:30] bebraw commented on #83
@jhnns Maybe [doResolve](https://github.com/webpack/enhanced-resolve/blob/739339de492e5d10023b48e6e8cf0edcedc5f6b5/lib/Resolver.js#L30) should force those parameters to be defined? Easier to catch issues like this. 👍

[2017-04-04 13:32] bebraw commented on #76
@TheLarkInn Node version bump should have probably been a new major version. I'm not sure what to do with the 3.x series (the cat is already out of the bag).

[2017-04-19 01:27] nowells commented on #43
This appears to have been fixed in https://github.com/webpack/enhanced-resolve/commit/3f3f4cd1fcbafa1e98c3c6470fed1277817ed607. Close?

[2017-04-28 16:53] vutran commented on #76
@bebraw @TheLarkInn I believe the last working version is `v3.0.3`. Current master should be published as `v4` since it has been rewritten since under ES6 and leave `v3` for legacy node versions.

[2017-04-29 17:16] bebraw commented on #76
@vutran Yeah, fair point. I agree with the major bump.

[2017-06-06 09:26] dherges opened #87 "package.json with utf-8 bom fails"
Steps to reproduce:
1. npm and yarn install packages
2. the installed package has a `package.json` with utf-8 and bom (byte order marker)
3. webpack build fails with the following error

[code]

Background:
we found a lenghty discussion on the npm repo. finally, npm [implemented utf-8 bom handling since npm 3.x](https://github.com/npm/npm/issues/3358#issuecomment-117678853)

Shouldn't it be implem

[2017-06-08 02:13] gdborton opened #88 "RFC Performance Improvement Opportunity"
**TLDR:** Removing `createInnerCallback` sees a 2x performance boost.

I've been doing a lot of profiling of our webpack builds to see if there are any savings to be had. While doing this I noticed that there is a ton of garbage collection happening, and through that I found my way to this repository.

It seems that `createInnerCallback` creates many large arrays (full of strings) that go unused u

[2017-06-09 12:32] evilebottnawi opened #89 "Incompatibility with node fs api."
I'm not sure this is bugs or expected behavior.
Example: `fileSystem.readFileSync(filename, "utf8")`, not respect `utf8` and always return `Buffer`.

[2017-06-12 18:11] gdborton commented on #88
@TheLarkInn @sokra thoughts?

[2017-06-12 22:02] TheLarkInn commented on #88
Wow. This def seems like a huge win. Thanks for tagging us (GitHub notifications are the worst :( )

I'm all for this change. do you have a partial implementation so far?

[2017-06-12 22:17] TheLarkInn commented on #88
@sokra we could probably decouple the logger a bit better and just pass a debug flag to the resolver/factory.

TBH I only ever see this information actually show when I'm working on enhanced-resolve locally, and never during a webpack build even with `--verbose`. So maybe we could remove it entirely except for when local development like you mentioned.

[2017-06-12 22:46] gdborton commented on #88
I don't have any implementation in mind as I wasn't sure how else the log might get used. Personally I'd rather see it removed completely (or maybe only available through an internal flag?).

I don't really like the idea of adding an option for disabling a feature no one uses. Especially considering the biggest hurdle to adopting webpack is the config.

I don't mind doing the work though if we can

[2017-06-13 02:55] TheLarkInn commented on #88
I agree I think we should just have it as part of our test fixtures and local Dev if needed. It is very helpful for resolver plugin Dev also.

[2017-06-13 02:56] TheLarkInn commented on #89
What version of node did you see this?

[2017-06-13 11:17] evilebottnawi commented on #89
@TheLarkInn i see function as in `fs` module (`readFileSync` and etc), It would be nice to have compatibility them with nodejs `fs`.
Original issue: https://github.com/babel/babel-loader/pull/460 , maybe give more information.

[2017-06-14 14:32] niieani commented on #88
If you run `webpack` programatically, you can use this workaround (prior to requiring `webpack`) to get the above mentioned speed bump:

[code]

This effectively replaces the `module.exports` of the `createInnerCallback.js` file with a dummy method.

[2017-06-14 14:44] TheLarkInn commented on #88
Actually now that I think about this, we could leave as a movie empty fn and patch the logger when needed.

[2017-06-14 15:33] sokra commented on #88
we can resolve without log first and in case of an error we do an additional resolve with log.

[2017-06-14 18:56] ljharb commented on #88
I like that approach in general; it pushes all the perf cost to the error path, which doesn't matter if it's fast or not.

[2017-06-15 02:51] mikesherov commented on #88
OK, so it seems like we make a new function like `doResolveWithLogging` that'll call `doResolve` and on error, recall `doResolve` with the createInnerCallback version attached?

[2017-06-15 03:50] TheLarkInn commented on #88
That sounds right to me.

[2017-06-19 12:02] qiyuan-wang commented on #45
@whitecolor this solution won't work because it only deals with the first-level symlink.

When requiring a `symlink package` in inside a symlink package (like **[npminstall](https://github.com/cnpm/npminstall)** does, it installs all level dependencies in the form of symlink), it would throw a error of 'Module not found'.

I have a simple workaround for it: adding the root path to the config's `re

[2017-06-19 13:52] whitecolor commented on #45
Don't use symlinks? 😄

[2017-06-19 13:57] zkochan commented on #45
pnpm does not use the `--preserve-symlinks` flag anymore, so if webpack will use the same resolution algorithm that Node uses (which is resolving symlinks to real path), then it should work fine with pnpm.

https://webpack.js.org/configuration/resolve/#resolve-symlinks

Maybe this could help with the issue described [here](https://github.com/webpack/webpack/issues/5087)?

[2017-06-19 19:18] zkochan commented on #45
I just checked today and the latest pnpm works fine with the latest CRA. @vjpr could you recheck and confirm. In that case, I believe this can be closed

[2017-06-19 19:31] vjpr commented on #45
Yeh this issue was only webpack@1 related.

[2017-06-19 19:31] #45 closed

[2017-07-01 15:05] #88 closed

[2017-07-03 13:35] #41 closed

[2017-07-05 11:51] klihelp commented on #73
Update on this?

[2017-07-05 18:23] mikesherov commented on #32
Thanks for contributing! I can not replicate this behavior using the provided information. Please feel free to reply to this thread with more information, and I'll gladly reopen it!

[2017-07-05 18:23] #32 closed

[2017-07-05 18:28] mikesherov commented on #18
Thanks for contributing, everyone! I'm going to consider this issue closed for now. If there are any specific documentation asks, please feel free to open a new issue (or even better a pull request on README).

[2017-07-05 18:28] #18 closed

[2017-07-05 18:57] mikesherov commented on #30
The main issue stems from the fact that the `main` field in `bower.json` can be an array, pointing to multiple files at once, which potential means custom loaders, not just custom resolvers.

Therefore, in order to correctly support bower, enhanced-resolve is not the correct place to do so, and a more full featured set of plugins would be required. Since multiple plugins exist for bower, and since

[2017-07-05 18:57] #30 closed

[2017-07-05 19:16] mikesherov commented on #55
Thanks for contributing @johnnyreilly. Do you have a simplified reproduction case for this issue? If so, we can take a look.

[2017-07-05 19:18] mikesherov commented on #46
@johnnyreilly please feel free to open a PR to the documentation of this repo (the README) describe this sync resolver. In the meantime, I'm going to consider this issue closed. Thanks!

[2017-07-05 19:18] #46 closed

[2017-07-05 19:23] mikesherov commented on #57
Thanks for contributing. I'm going to close this issue as it doesn't appear that forEach is a major bottleneck in enhanced-resolve. If you find that to not be the case, please provide some benchmarks before and after the change against a real webpack run. Thanks!

[2017-07-05 19:23] #57 closed

[2017-07-05 19:27] mikesherov commented on #73
Hi @klihelp thanks for contributing! Can you please provide a minimal repro case showing this bug, as I don't believe it's in enhanced-resolve.

[2017-07-06 11:40] mikesherov commented on #73
Yeah, this has nothing to do with enhanced-resolve, I'm pretty sure. Closing for now. If you have a minimal repro showing it's somehow related, please post it and I'll gladly reopen, thanks!

[2017-07-06 11:40] #73 closed

[2017-07-06 11:43] mikesherov commented on #80
Thanks again for contributing, and for building out bower support. It's not really the intention of enhanced-resolve to resolve multiple files, same as `require.resolve`. A fully functioning bower plugin needs to happen at a higher level than the resolver unfortunately. Closing this issue for now. Let me know if you'd like to discuss further.

[2017-07-06 11:43] #80 closed

[2017-07-06 11:44] mikesherov commented on #59
Just configuration. Any PR to bring es6 support needs to update the eslintrc with `es6: true`. Let me know if you have further questions, but closing for now, thanks!

[2017-07-06 11:44] #59 closed

[2017-07-06 11:45] mikesherov commented on #87
@dherges thanks for contributing. I'll gladly accept a PR here, otherwise we'll eventually get around to it.

[2017-07-06 11:51] mikesherov commented on #43
Yes, this is fixed. Thanks!

[2017-07-06 11:51] #43 closed

[2017-07-06 18:24] klihelp commented on #73
thanks, have to research, maybe some webpack plugin is passing forward the //commented lines ..

[2017-07-10 15:23] mikesherov commented on #31
This should be fixed as of https://github.com/webpack/memory-fs/pull/34/files which was merged on June 1st, 2017 Please let me know if you're still experiencing issues using latest webpack!

[2017-07-10 15:23] #31 closed

[2017-07-10 15:27] mikesherov commented on #55
@johnnyreilly I'm going to close this for now, but if you can get a repro case going, and respond to this issue with it, I'll gladly reopen. Thanks!

[2017-07-10 15:27] #55 closed

[2017-07-10 15:36] mikesherov commented on #76
There is really no way to resolve this in `enhanced-resolve`. As mentioned, the cat is already out of the bag: We can't publish another minor version of 3 that reverts functionality, and publishing a major version of `enhanced-resolve` won't fix the issue.

The only correct workaround at this point is to have `ts-loader` pin to `~3.0.0`, and only bump to `^3.0.0` when they are ready to do a major

[2017-07-10 15:36] #76 closed

[2017-07-10 15:51] mikesherov commented on #76
Hmmm, this can't be fixed in ts-loader either, as they also now express a dependency on Node 4.

The last thing you can do is put `enhanced-resolve: 3.0.3` as a dependency in your top level project, which will then, once deduped, have ts-loader using `enhanced-resolve: 3.0.3` and will work around the issue. Yes, it's a bit ugly, but it's all we can do at this point.

[2017-07-24 08:32] danrot opened #97 "Error when using webpack in watch mode"
I have updated to the latest release of this library (3.4.0), and that caused the `watch` script I've added to `package.json` (actually it is just `webpack -d -w`) to break. It breaks with this error message:

[code]

The initial build works, but this error occurs after I save a file being watched. Is there some compatability issue with this release?

If I downgrade to version 3.3.0 of this librar

[2017-07-24 08:35] smares commented on #97
Just wanted to report the same issue.

[2017-07-24 08:45] peteringram0 commented on #97
Also getting this issue.

[2017-07-24 09:03] daohoangson commented on #97
Looks like we have an `undefined` key here, likely from commit 03ef8f2:

[code]

In a rush so I had to edit it like below as a temporary workaround:

[code]

Hope this can be fixed soon.

[2017-07-24 09:25] suyi91 commented on #97
Getting the same problem using version 3.4.0

[2017-07-24 09:28] antonnyman commented on #97
+1

[2017-07-24 09:28] MadMikeyB commented on #97
+1

[2017-07-24 09:32] Alvin-Liu commented on #97
+1

[2017-07-24 09:38] timbergus commented on #97
Same error here.

    webpack: Compiling...
    /Users/Gustavo/Desktop/canvas-test/node_modules/enhanced-resolve/lib/CachedInputFileSystem.js:145

                        if(key.startsWith(what))
                              ^
    TypeError: Cannot read property 'startsWith' of undefined

[2017-07-24 09:47] the-architect commented on #97
Same issue, had to downgrade again.
Seems to work in 3.2.0.

[2017-07-24 09:47] smares commented on #97
It even works in 3.3.0 @the-architect

[2017-07-24 09:56] H--o-l opened #98 "Angular 2 app doesn't build with last version (v3.4.0)"
Since last release I can't build my Angular4 app anymore, following error occurs:
[code]
Had to revert to v3.3.0.

Nb: I use `angular/cli` v1.0.0-rc.2

[2017-07-24 09:57] timobehrens commented on #97
+1

[2017-07-24 09:57] gijsjanr commented on #97
+1

[2017-07-24 09:57] the-architect commented on #97
@smares yeah sorry, yarn was still installing 3.4.0.

[2017-07-24 09:59] jeremyxgo commented on #97
Just facing the same error in 3.3.0
My script: `cross-env NODE_ENV=development webpack-dev-server -d --inline --hot`
When I edit my code and trigger the hot reload, the error shows and break the dev server

[2017-07-24 10:52] bongofury commented on #97
+1

[2017-07-24 10:54] Kumarsammy commented on #97
+1

[2017-07-24 10:57] tomasztomys commented on #97
+1

[2017-07-24 10:57] dariuszpaluch commented on #97
+1

[2017-07-24 11:10] 3jwddgm commented on #97
+1

[2017-07-24 11:15] qiudong opened #99 "Failed to rebuild with webpack@2.4.5,throw exceptions that enhanced-resolve/lib/CachedInputFileSystem.js:145 if(key.startsWith(what))"
[code]
I start up is ok but I edit the file failed,I use ubuntu 16.10

[2017-07-24 11:18] diegoprd commented on #99
Same with webpack 3.3.0 here.

[2017-07-24 11:18] Fox32 commented on #99
There is already #97

[2017-07-24 11:20] diegoprd commented on #97
+1

[2017-07-24 11:24] danbruegge commented on #97
I tried downgrade to v3.3.0 and v3.2.0 with no success. I had to revert my upgrade from webpack-dev-server v2.6.1 back to v2.5.1. Now it is working again.

[2017-07-24 11:24] antonnyman commented on #97
@daohoangson's fix works for me right now

[2017-07-24 11:29] lcxfs1991 commented on #99
same with 3.3.0

[2017-07-24 11:30] boonier commented on #99
Yep, same happening here

[2017-07-24 11:36] lcxfs1991 commented on #99
Please fix this ASAP because webpack use enhanced-resolve: "^3.3.0". I will upgrade to 3.4.0 if we install webpack fresh. Wondering whether this is a bug or a breaking change?

[2017-07-24 11:39] lcxfs1991 commented on #99
You can manually delete enahnced-resolve in node_modules and install version 3.3.0. It will fix temporarily.

[2017-07-24 12:25] emaincourt commented on #97
Downgrading worked for me. If you're using *Yarn*, think about editing your `yarn.lock` file when you install 3.3.0 manually :
[code]

[2017-07-24 12:34] #99 closed

[2017-07-24 12:34] sokra commented on #99
3.4.1 should fix the problem

[2017-07-24 12:37] the-architect commented on #97
adding `"enhanced-resolve": "3.3.0"` to your package.json dependencies and running yarn is not enough? I can't try it out, because I deleted the yarn.lock file before.

[2017-07-24 12:40] Alex-Sokolov commented on #97
Fixed in https://github.com/webpack/enhanced-resolve/releases/tag/v3.4.1

[2017-07-24 12:42] awesomenaz commented on #99
@sokra  yeah just tested it out, this fixes the problem. Thank you, sir.

[2017-07-24 12:43] the-architect commented on #99
Thank you @sokra ! Works! :)

[2017-07-24 12:43] emaincourt commented on #97
@the-architect No since webpack expects "enhanced-resolve": "^3.3.0" so Yarn will resolve two different packages since patterns are different when you install it. You need to explicitly link them

[2017-07-24 12:47] the-architect commented on #97
@emaincourt that's weird, but ok. thank you. :)

[2017-07-24 12:56] danrot commented on #97
Works for me, thanks for fixing!

[2017-07-24 12:56] #97 closed

[2017-07-24 12:59] garth opened #102 "webpack-dev-server fails to rebuild on watch"
[code]

[2017-07-24 13:04] lajosbencz commented on #102
Same here with these commands:
[code]

[2017-07-24 13:07] bdfoster commented on #102
Problem is already fixed in v3.4.1.

[2017-07-24 13:17] kulakowka commented on #102
I have some error, too...

[2017-07-24 13:39] bdfoster commented on #102
Duplicate of #99

[2017-07-24 13:42] garth commented on #102
Confirmed to be fixed

[2017-07-24 13:42] #102 closed

[2017-07-24 13:51] robcresswell opened #104 "Bug: TypeError: Cannot read property 'startsWith' of undefined"
I've been seeing this a lot this morning (full trace):

[code]

It occurs any time a reload is prompted when using webpack-dev-server w/ hot-reload & Vue.

[2017-07-24 13:52] robcresswell commented on #104
Ah, I apologise, it's a duplicate. Sorry for the time waste.

[2017-07-24 13:52] #104 closed

[2017-07-24 14:14] ollilinde commented on #98
Exactly same issue here

[2017-07-24 14:19] jessenic commented on #98
Yup, same issue here. Took some time to find the cause!

[2017-07-24 14:20] guyromb opened #105 "Webpack Watcher crashes when editing a file since last version"
Version 3.4.0. The issues was not there in 3.3.0.
The following errors happens (+ stops the npm process), after saving a file, and the watcher refreshes.

`node_modules\enhanced-resolve\lib\CachedInputFileSystem.js:145
                       if(key.startsWith(what))
                             ^

TypeError: Cannot read property 'startsWith' of undefined`

[2017-07-24 15:15] liujingbreak opened #106 "CachedInputFileSystem - TypeError: Cannot read property 'startsWith' of undefined"
Environment: Webpack 3.2.0, 3.3.0.

When it is used with **babel-loader**, **webpack-dev-middleware** (watch mode is on), sometime when a JS file changed, webpack is triggered to re-compile:

[code]

I drilled down a little bit, found out, it was because **babel-loader** doing with `loaderOptions.babelrc`
[code]

So if I don't set an option `babelrc` for babel-loader, it might cache a `undefined`

[2017-07-24 15:17] jrec15 commented on #98
Glad we found this, same issue here

[2017-07-24 16:21] filipesilva opened #107 "3.4.0 breaks Angular CLI"
Hi there,

It seems the recent `3.4.0` breaks `@ngtools/webpack`, which is at the core `@angular/cli` (https://github.com/angular/angular-cli/issues/7113).

In the https://github.com/webpack/enhanced-resolve/releases/tag/v3.4.0 release I only see performance changes so am not too sure what changed that breaks our stuff.

Our direct usage of `enhanced-resolve` is contained in https://github.com/ang

[2017-07-24 16:29] Tragetaschen commented on #107
#98 ...

[2017-07-24 16:36] filipesilva commented on #107
Right you are, closing in favor of that one and moving my comment there.

[2017-07-24 16:36] #107 closed

[2017-07-24 16:36] filipesilva commented on #98
Hi there,

I'm one of the maintainers of `@angular/cli`. It seems the recent `3.4.0` breaks `@ngtools/webpack`, which is at the core `@angular/cli` (https://github.com/angular/angular-cli/issues/7113).

In the https://github.com/webpack/enhanced-resolve/releases/tag/v3.4.0 release I only see performance changes so am not too sure what changed that breaks our stuff.

Our direct usage of `enhanced-r

[2017-07-24 16:45] sokra commented on #98
Could you run webpack with `--display-error-details` resp. `stats.errorDetails: true`?

A repro case would be great.

[2017-07-24 16:45] sokra commented on #106
fixed in 3.4.1

[2017-07-24 16:46] sokra commented on #105
fixed in 3.4.1

[2017-07-24 16:46] #105 closed

[2017-07-24 16:46] #106 closed

[2017-07-24 16:51] sokra commented on #98
nevermind I can use the repro case from the angular issue

[2017-07-24 16:56] filipesilva commented on #98
@sokra I'll get you a isolated webpack config that exhibits this error.

[2017-07-24 17:03] sokra commented on #98
That would be great. Seem to be related to the AOT virtual filesystem thing...

[2017-07-24 17:08] filipesilva commented on #98
Here it is:
[code]

[2017-07-24 17:11] filipesilva commented on #98
I agree, it's related to the virtual filesystem indeed. I can't contact it's author right now but can try to figure it out myself if you have any idea of what changed that we should incorporate.

[2017-07-24 17:13] sokra commented on #98
Thanks. I'll look into it.

[2017-07-24 17:22] chandransuresh commented on #98
Same issue here. Need to revert to 3.3.0 to fix the issue.

[2017-07-24 17:37] sokra commented on #98
bisect says 03ef8f2b8d25bc976993eade7b1ed9caa2c7d0e1

[2017-07-24 17:45] jakeNiemiec commented on #98
👍 It's not said enough: **Thank you to both Filipe and Tobias for your quick responses.** This issue is only 8 hours old and already we have `Webpack` and `Angular-CLI` core members providing good insight.

[2017-07-24 18:40] sokra commented on #98
ok I found the issue.

https://github.com/angular/angular-cli/blob/master/packages/%40ngtools/webpack/src/compiler_host.ts#L161-L177

The `WebpackCompilerHost` accesses `fs._statStorage.data[path]` assuming that `fs` is a `CachedFileSystem` from enhanced-resolve.

Instead of creating a virtual filesystem by decorating the filesystem instance `WebpackCompilerHost` injects data into the private cach

[2017-07-24 18:43] sokra commented on #98
If you want watching to work consider the same for `Compiler.watchFileSystem`...

[2017-07-24 18:48] filipesilva commented on #98
@sokra roger, we'll move in that direction. That's likely to fix other issues we were having. For now we're pinning `enhanced-resolved@3.3.0` in `@ngtools/webpack` and putting out an emergency release.

Thank you so much for looking into this. 💯

[2017-07-24 19:09] sokra commented on #98
Sounds good

[2017-07-24 20:03] ollilinde commented on #98
I can confirm it's working with the emergency release. Thanks a lot!

[2017-07-24 21:13] H--o-l commented on #98
Thanks guys, I close the issue.

[2017-07-24 21:13] #98 closed

[2017-07-25 07:08] tomasztomys commented on #97
why do you close it?!

[2017-07-25 07:10] danrot commented on #97
@tomasztomys Because of that comment: https://github.com/webpack/enhanced-resolve/issues/97#issuecomment-317410074

There is a new release which is fixing this issue.

[2017-07-25 07:42] Jetsly opened #108 "Cannot read property 'startsWith' of undefined"
._enhanced-resolve@3.4.0@enhanced-resolve/lib/CachedInputFileSystem.js:146
                        if(key.startsWith(what))

TypeError: Cannot read property 'startsWith' of undefined
    at Storage.purge

[2017-07-25 08:16] Joachricar commented on #108
This issue has been resolved here: https://github.com/webpack/enhanced-resolve/issues/97
TL;DR upgrade to 3.4.1

[2017-07-25 08:28] #108 closed

[2017-07-25 09:38] guyromb commented on #105
thank you @sokra . will test it

[2017-07-25 21:53] gdborton opened #110 "RFC: Performance Proposal"
I've been running lots of profiles to find the bottlenecks in our webpack build. Probably the biggest bottleneck right now is resolving requests.

To highlight this, I've created a simple test case for our build. Basically I intercepted all calls to `Resolver.resolve` during a build, and wrote the parameters passed to disk. Then I created a script that loaded the list of requests and used `enhance

[2017-07-25 22:01] gdborton commented on #110
@sokra @mikesherov @TheLarkInn I'd love to unlock the performance potential here, but recognize that my proposed changes would mean a breaking change in both `enhanced-resolve` and `webpack`.

This is what I envision the config would look like after this change.

[code]

[2017-07-28 10:57] aleen42 opened #111 "`lib/Resolve.js` has thrown an error under npm@5.1.0 and node@7.4.0"
Recently I have upgraded node to version 7.4.0 and npm to 5.1.0 and failed to build my project with Webpack. In the gulp file, I have the following snippet:

[code]

But when I run it, I failed to build with following error logged out:

[code]

And my version of Webpack is 1.13.2

Is there any working around for solving the problem without upgrading Webpack?

[2017-07-31 09:08] briandipalma commented on #98
Is my guess correct that several different projects are trying to inject fake/virtual files into the webpack FS cache and all broke because the internals that they were using changed? If so I think that caused us problems too. Could we get an official API to allow us to add virtual files to the webpack FS?

[2017-07-31 09:31] sokra commented on #98
There is an official API => Create a Decorator for the filesystem. Pass this decorated filesystem as option to the Resolver factory (for enhanced-resolve). Resp. set `inputFileSystem` on the `Compiler` in the `environment` hook (for webpack).

[2017-08-08 20:01] gdborton commented on #110
@sokra poke.

[2017-08-08 20:02] gdborton opened #112 "Concord modules?"
We've got a rather large build, and after grep'ing through our codebase, it seems that none of our dependencies are using the concord field in package.json. Is this something that is still being pursued or could it be removed from `enhanced-resolve`?

[2017-08-08 22:08] mikesherov commented on #110
@gdborton, I think this is super interesting, but I was wondering if a different approach can work, where we introduce an option to use native resolution. That way, for most modules, you'd get the fast path of native resolution, with fallback to the other important resolvers (extensions comes to mind as an important one for React / Vue / Typescript) and other fast resolvers like the unsafeCachePlu

[2017-08-08 22:32] gdborton commented on #110
I'm guessing that would work for most people outside of aliasing and those still using bower. Native resolving works for any file so long as you provide the extension in your import.

[2017-08-08 22:48] mikesherov commented on #110
Right but the key would fallback to slow manual resolution if fast resolution fails to find a module. So best of both worlds. You just wouldn't be able to do things like prioritize .vue over .js, etc.

[2017-08-08 22:49] mikesherov commented on #110
so aliases are interesting in that some folks use them to override stuff that *would* otherwise still resolve.

[2017-08-08 22:51] mikesherov commented on #110
So there's a tradeoff for sure. But I guess as a first step, you can inspect passed in options, and see if they match nodes native behavior, and if so, just go straight to native resolution.

[2017-08-08 23:04] gdborton commented on #110
Do you think that this should be a change in webpack without looking at `enhanced-resolve` at all?

Something like...
[code]

Or would this take place in `enhanced-resolve` and would be transparent to webpack?

I'm guessing the latter...

[2017-08-09 00:14] mikesherov commented on #110
I'm guessing latter, especially since it's a resolve option, which are automatically passed to a resolver factory.

[2017-08-11 20:26] briandipalma commented on #98
Thanks for the reply, is there an example of what you are talking about somewhere?

[2017-08-11 22:05] ljharb commented on #112
Or at the very least, controllable by an option? I don't know who even uses "concord modules", but it doesn't seem like it's anywhere near the majority.

[2017-08-17 11:51] anlexN opened #113 "parseQuery will be replaced with getOptions"
![loader-runner](https://user-images.githubusercontent.com/8686739/29410939-6da0a488-8385-11e7-9045-d2429a500c95.PNG)

[2017-08-22 23:07] joeydanielallen opened #114 "Angular 4 AOT build breaks with latest release"
Angular 4 cli build with AOT switch fails with latest changes. Replaced latest npm package with older release and builds fine. Looks like 7/20 commit caused issues.

[2017-08-23 10:24] filipesilva commented on #98
@briandipalma here's an example of how we're doing it in Angular CLI: https://github.com/angular/angular-cli/pull/7471

[2017-08-27 21:51] cristhiank commented on #98
Why is this issue closed ? It's still not fixed in enhanced-resolve@3.4.1

[2017-09-04 13:14] sokra commented on #113
This is an issue in the pugjs/pug-loader.

[2017-09-04 13:14] #113 closed

[2017-09-06 22:04] webpack-bot opened #116 "resolve.mainFields doesn't support objects in package.json"
**Do you want to request a *feature* or report a *bug*?**
This is a bug, though possibly an intentional omission.

**What is the current behavior?**
Sub-arrays in `resolve.mainFields` are completely ignored during module resolution.

Minimum and contrived working example with repro steps: https://github.com/sjbarag/webpack-mwe

**What is the expected behavior?**
A sub-array in `resolve.mainFields`

[2017-09-07 06:58] sokra commented on #116
Bug is here: https://github.com/webpack/enhanced-resolve/blob/master/lib/ResolverFactory.js#L113

There should be `|| Array.isArray(item)`

[2017-09-20 14:46] Fconstant opened #118 "AliasFieldPlugin.apply + lodash: resolving the wrong toString"
When resolving `"./toString"` from `lodash`, [data2 on AliasFieldPlugin.js](https://github.com/webpack/enhanced-resolve/blob/c0797bbcb5d46a44930887c49dc5378b5527cd7a/lib/AliasFieldPlugin.js#L30) is removing the `./` from `"./toString"` of `lodash`, causing `fieldData` to get the default function `toString()` of every object.

Resulting in:
[code]

Something I couldn't find is: Who is calling the `

[2017-10-05 11:07] floriangosse opened #119 "Is there any documentation?"
I didn't find any documentation where I can see what plugins are available and what these plugins are achieve. Did I overlooked something?

[2017-10-09 15:54] Basel78 commented on #98
Hi people,
I am relatively new to angular, just started 2 months ago, learning about stuff like: Typescript,angular, bundle, NgModule, Rollup,Webpack,.."I has angularJS previous experience and longer .NET" after building my first word addin using angular2/typescript
I started looking deep into angular-cli and building libraries with I faced some problems and solved most of it until I was stopped b

[2017-10-09 16:02] filipesilva commented on #98
@Basel78 heya, issues like that should be opened against https://github.com/angular/angular-cli/ and not here. The problem described here hasn't affected Angular CLI projects for a while, so I don't think the problem you are experiencing is related. Please make sure to check the existing issues and https://github.com/angular/angular-cli/wiki/stories-linked-library before opening a new issue though

[2017-10-09 18:36] Basel78 commented on #98
@filipesilva will do thanks for your response and help

[2017-10-11 09:46] webpack-bot opened #120 "Large amount of aliases causing "Maximum call stack size exceeded""
**Do you want to request a *feature* or report a *bug*?**
Performance Bug

**What is the current behavior?**
When running webpack with 2050 aliases, I get this error:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
I can't provide the actual project but using that amount of aliases causes the error.

**What is the expected behavior?**
For the aliases to be ana

[2017-10-13 15:02] filipesilva commented on #98
@briandipalma heya, I was having some more trouble with file watchers in the virtual file system, which I documented here: https://github.com/webpack/webpack/issues/5824. I initially reported it as a bug but it's really just a matter of decorating `NodeWatchFileSystem` as well.

[2017-10-14 12:43] briandipalma commented on #98
Thanks for the heads up @filipesilva we have been seeing issues on file watch rebuilds.

[2017-10-27 06:18] mhelvens opened #122 "How to write a plugin to filter a resolution?"
I need to write a resolver plugin that runs at the last moment (after a reference was resolved to an existing file). Based on some condition (to do with the relative positions of `request.path` and `request.context.issuer`), should then either error out or let that resolution pass through normally.

But I can't figure out where to hook into the pipeline. From what I can tell, if I do `resolver.plu

[2017-11-16 02:23] iEchoic commented on #120
This is happening to me with 1997 aliases.

[2017-11-28 08:01] webpack-bot opened #123 "Webpack gives error while bundling modules having "main", "module" or "js:next" attributes set to "." in their package.json"
Let us assume I am using a module named **do-something** in my package.json as a dependency. This module has package.json with entry attributes like

[code]

While doing bundling for this module through webpack, I get this error
``Module not found: Error: Recursion in resolving``

I am in an assumption that, the ``"main": "."`` attribute path will resolve to ``"main": "index.js"``
I am suspecting

[2017-12-05 15:52] #116 closed

[2017-12-15 14:32] benderTheCrime commented on #123
+1 on this @sokra. I've had a similar problem recently with the Jest ecosystem. My thoughts on this are that, at very least, if the target for bundling is "node," Webpack should support all of the quirks of the NodeJS module resolver.

[2017-12-15 17:07] eaviles commented on #123
I just reported this issue in Jest too.
https://github.com/facebook/jest/issues/5088

[2017-12-17 13:29] omatrot commented on #118
I have the same error using [sjcl](https://github.com/bitwiseshiftleft/sjcl) in a ReactJS app using webpack. Works fine in React Native (Babel) though.

[2017-12-17 16:40] omatrot commented on #118
Solved it by replacing sjcl with jwt-decode because I only need to deal with JWT Tokens

[2017-12-19 04:27] mzgoddard opened #125 "DeprecationWarnings are vague and don't refer to enhanced-resolve"
The DeprecationWarnings

https://github.com/webpack/enhanced-resolve/blob/9c43df0768ca47b409cc238cb99712f9cb664156/lib/Resolver.js#L31-L41

are vague and don't refer to enhanced-resolve, or the Resolver or the methods they are found in. Simple additions, like in [tapable/lib/Tapable.js](https://github.com/webpack/tapable/blob/512c3a1b4174d7e6c1e22d7c7dec5c77ca5bcdbf/lib/Tapable.js#L67), referring

[2017-12-29 23:27] aaronmallen opened #126 "Add License to repository"
please add a LICENSE file to the repository.

[2018-01-04 15:38] sokra commented on #126
Send a PR

[2018-01-04 15:40] sokra commented on #125
Send a PR.

In general you get a stack trace for deprecations with `--trace-deprecation` for node.js

[2018-01-04 16:09] #120 closed

[2018-01-04 16:10] sokra commented on #118
Send a PR.

[code]

[2018-01-04 16:11] sokra commented on #112
It's now controllable by option and off by default.

[2018-01-04 16:11] #112 closed

[2018-01-04 17:40] aaronmallen commented on #126
@sokra let me know if the copyright is correct.

[2018-01-04 20:11] #126 closed

[2018-01-08 12:32] Fconstant commented on #118
@sokra Sorry, I didn't understand what you meant. What am I supposed to do with `hasOwnProperty`?

[2018-01-16 12:12] mateothegreat commented on #114
For a non-invasive temporary fix just create the file "node_modules/~perfect-scrollbar/css/perfect-scrollbar.css" in your app directory and populate it with https://raw.githubusercontent.com/utatti/perfect-scrollbar/master/css/perfect-scrollbar.css.

Simple fix until this is sorted.

[2018-01-24 09:41] readme42 opened #130 "Missing license file in npm release"
When installing this library via npm, the license file is missing. This makes automated license generation complicated. Could you add the file to upcoming npm releases? That would be really awesome :)

[2018-01-24 09:52] evilebottnawi commented on #130
@readme42 PR welcome :+1:

[2018-01-24 09:57] readme42 commented on #130
will have a look this evening :)

[2018-01-24 23:01] readme42 commented on #130
Here we go - PR is open: #131

[2018-01-29 17:47] domoritz commented on #118
Could this be causing https://github.com/jupyterlab/jupyter-renderers/issues/91?

[2018-01-30 11:56] Fconstant commented on #118
@domoritz Almost. In your case `identifier` is `null`. In this case, `identifier` is not null but `indexOf` is not a function (I don't know why). But it is the same location that triggers the error.

[2018-02-07 05:10] skipjack opened #133 "README (Documentation)"
The documentation on the `next` branch of webpack.js.org now points to this package and it's README more prominently from the `resolvers.md` page. It seems the README for this package is totally out of date with the current code (though I could be wrong). I think the following needs to be documented:

- Each available hook (preferably using the same format we use here)
  - Type of underlying `tapa

[2018-02-07 05:10] skipjack commented on #133
This might be related to #119, though I'm not 100% on that.

[2018-02-08 11:44] wlievens opened #134 "null callback"
As part of an angular-cli build process, I get the following error:

[code]

I'm well aware this error is not caused by enhanced-resolve itself, since it just accepts the callback, but perhaps a null check could be added to either the `Storage.provide` callback parameter, or null callbacks could be permitted throughout that class? That would make it easier to debug this kind of problem in the futu

[2018-02-08 12:43] Luladjiev commented on #134
FYI @angluar/cli v1.6.8 breaks the build. v1.6.7 works fine

[2018-02-08 12:44] pjetja commented on #134
I'm getting this error in the same file
[code]

[2018-02-08 13:00] webmaster128 commented on #134
See https://github.com/angular/angular-cli/issues/9550 and https://github.com/webpack-contrib/copy-webpack-plugin/issues/217 for the root and workaround.

[2018-02-08 14:52] evilebottnawi commented on #134
Not related to `enhanced-resolve`

[2018-02-08 14:52] #134 closed

[2018-02-21 20:40] #130 closed

[2018-02-24 05:48] ljharb commented on #123
`./` is something that node understands; it's absurd that webpack doesn't handle it, for all targets.

What would it take to get this fixed?

[2018-02-28 15:02] srinadh239 opened #138 "resolver.hasPlugins is not a function"
Webpack v3.11.0 has a dependency on enhanced-resolve v^3.4.1

enhanced-resolve/lib/Resolver.js doesnt have a hasPlugins function which is throwing the error

[code]

[2018-02-28 15:46] evilebottnawi commented on #138
@srinadh239 Please create minimum reproducible test repo. Thanks!

[2018-03-08 00:00] hach-que opened #139 "How to return generated source code from a resolver?"
I currently have a custom resolver that looks like this:

[code]

What I want to be able to do is in some cases return a virtual/generated file at the `return callback(null, result);`, instead of returning a path to a real file on disk. I had a look at the structure of `request`, `resolveContext` and `result`, but couldn't see anything immediately obvious in how to do this.

For additional context

[2018-03-26 20:05] thomasmichaelwallace opened #141 "Node engine version should be dropped to v.6.9.0"
By specifying v.6.11.5 webpack excludes some typical environments, including the AWS Lambda one (currently at 6.10.3).

I looked back at the PR that caused this, and there doesn't seem to be an specific requirement. I've also prepared a PR that bumps it back down to 6.9 (specified by @TheLarkInn) and everything built and tested ok.

See this discussion for further details: https://github.com/webpa

[2018-03-26 22:29] lencioni opened #143 "What are the breaking changes in v4?"
I'm unable to locate a changelog for this project, and it looks like the v4 release doesn't have any information associated with it. If I'm updating from v3.4.1, what should I be on the lookout for?

[2018-03-27 13:06] ooflorent commented on #141
Closed by #142

[2018-03-27 13:06] #141 closed

[2018-03-27 13:20] ooflorent commented on #143
Breaking changes are:

- drop node 4 support
- use `tapable`

Also, you will probably encounter some deprecation notices regarding `resolver#resolve`.

[2018-03-27 16:30] JulienPradet opened #147 "Export Sync methods in SyncAsyncFileSystemDecorator.js"
Hi!

I've noticed that `enhanced-resolve/lib/SyncAsyncFileSystemDecorator.js` did not expose the Sync API.
I wanted to ask you if you would consider a PR that would add something along those lines :
[code]

The only negative impact that I see is that it wouldn't motivate people to use the async API in most cases. But I guess we can add a wrapper around each function that prints a warning.

[2018-04-09 22:02] ThiefMaster commented on #139
Did you find a solution? My use case is different but I also want to return code from a location that is not a file on disk.

[2018-04-10 01:40] hach-que commented on #139
Nope, I think this needs modifications to enhanced-resolve to support it.

[2018-05-29 07:06] webpack-bot opened #151 "Having troubles resolving node_modules with main set to ./"
**What is the current behavior?**
If a module such as this one https://github.com/avocode/react-resizer/blob/master/package.json
has it's `main` set to `./`. Webpack 2 seems not to be able to correctly resolve to `./index.js` event when `mainFiles` are set to `['index', 'index.js', 'index.coffee' ...]`

Webpack throws error:
[code]

**To reproduce**
Require module `react-resizer` with Webpack 2

*

[2018-05-29 07:06] ooflorent commented on #151
I confirm the issue. Works in node.

[2018-05-31 10:41] kaanozcan opened #152 "RangeError: Maximum call stack size exceeded"
Hello I am having a bit of problem not sure if this is a bug and not sure how to tackle it down and provide better context. Any help appreciated.

using: webpack:4.10.2

error:
[code]

[2018-05-31 12:02] kaanozcan commented on #152
So I was using Node api to generate bundle. Now I have converted to cli and my error message changed a bit.

[code]

Saw the path for the AliasPlugin and commented my aliases(4 in total). Still having the same error.

[2018-05-31 12:04] evilebottnawi commented on #152
@kaanozcan Can you create minimum reproducible test repo?

[2018-05-31 12:41] kaanozcan commented on #152
@evilebottnawi I'll try to transfer contents of my original repo until I get the same message.

[2018-05-31 13:18] doodadjs opened #153 "Infinite loop and crash using symbolic links under Windows (PR included)"
# Bug report

**What is the current behavior?**
Infinite loop and runtime crash.

**If the current behavior is a bug, please provide the steps to reproduce.**
Under Windows, create a new module and use "npm link" to link it in your project, "cd" to the symlink, then create your bundle with Webpack.

**What is the expected behavior?**
Creation of my bundle without any error.

**Other relevant infor

[2018-05-31 16:00] doodadjs opened #154 "(lib/SymlinkPlugin.js) "resolver.doResolve" can be called many times"
# Bug report

**What is the current behavior?**
lib/SymlinkPlugin.js: "resolver.doResolve" can be called many times for a single symbolic link because it does not exit the "forEachBail.withIndex" loop when it encounters an absolute symbolic link.

**If the current behavior is a bug, please provide the steps to reproduce.**
Create a new module and use "npm link" to link that module to your project,

[2018-05-31 16:08] evilebottnawi commented on #154
@doodadjs can you find who is done and fix it?

[2018-05-31 16:31] doodadjs commented on #154
@evilebottnawi I don't understand... Do you mean you want me to fix it ?

[2018-05-31 16:35] evilebottnawi commented on #154
@doodadjs do you know why it is happens?

[2018-05-31 16:49] doodadjs commented on #154
I had the following condition positive twice :
[lib/forEachBail.js#L59](https://github.com/webpack/enhanced-resolve/blob/v4.0.0/lib/forEachBail.js#L59)

Because of :
[lib/forEachBail.js#L54](https://github.com/webpack/enhanced-resolve/blob/v4.0.0/lib/forEachBail.js#L54)

So finally the problem should happen when you have an absolute symlink pointing to another absolute symlink.

[2018-05-31 16:53] evilebottnawi commented on #154
@doodadjs can you send PR?

[2018-05-31 17:08] doodadjs commented on #154
@evilebottnawi Hmm, I've encountered that when tracing the code to resolve the issue #153. For the moment, I'm not sure of what I should do, that's why I've removed these changes from PR #150 :
[Commit: Revert fix #3 (separate issue) ](https://github.com/webpack/enhanced-resolve/pull/150/commits/b304a41713bb410c4538ea7e400ba790d2067e9a)

Probably we should close it and re-open if someone else enco

[2018-06-01 07:41] #153 closed

[2018-06-01 07:44] #125 closed

[2018-06-01 07:44] sokra commented on #152
maybe fixed by #150

[2018-06-01 07:46] sokra commented on #147
This makes sense. Please send a PR

[2018-06-01 10:53] kaanozcan commented on #152
@sokra @evilebottnawi

Hello, It was a issue happened migrating from v3 to v4. I have fixed it trying to prepare repo for test. We had a recursive module resolution in config because we wanted to compile our scoped npm repos on our main project and not their own pipelines to keep the bundle size smaller. We had decided it was a micro optimization and dropped it in favour of maintainability a while

[2018-06-01 10:53] #152 closed

[2018-06-01 16:28] doodadjs commented on #154
I'm closing it because we need more certitudes.

[2018-06-01 16:28] #154 closed

[2018-06-06 09:45] dhaval-lila commented on #138
I am having the same problem any solutions?

[2018-06-22 23:54] mhink commented on #89
@TheLarkInn I ran into this as well. (For reference, the error I was seeing is the same as this one in CopyWebpackPlugin: https://github.com/webpack-contrib/copy-webpack-plugin/issues/217)

The incompatibility is in this method call (and others like it)

https://github.com/webpack/enhanced-resolve/blob/master/lib/CachedInputFileSystem.js#L238

The method signature here is `readFile(path, callback)

[2018-06-28 12:38] #151 closed

[2018-07-11 12:59] hsvandreas commented on #138
Same problem here :(

[2018-07-11 13:02] evilebottnawi commented on #138
Looks something in your plugins/loaders have incompatibility with `webpack@3`, without reproducible test repo we can't help

[2018-07-22 14:46] blowery commented on #110
We're doing some profiling of the build for https://github.com/Automattic/wp-calypso and finding similar results; we're spending a lot of time resolving requests. However, we also use aliases heavily...

[2018-08-29 15:45] nickdima opened #157 "Webpack alias is being ignored when module present"
I'm aliasing the `react-native` module as `react-native-web` like this:
[code]
If I don't have the `react-native` module installed in my `node_modules` everything works just fine, but if I install it (because I need it for my native app) the alias doesn't seem to work and it just tries to import `react-native` instead of `react-native-web`.
Is this a normal behaviour? To ignore the alias if the mo

[2018-08-30 10:17] nickdima commented on #157
I fixed this by including `react-native` to be transpiled by the babel loader. Not sure why I have to do this but as long as it works, I'm more then happy.

[2018-08-30 10:17] #157 closed

[2018-08-30 18:41] dylanslade commented on #118
Has any progress been made?

[2018-08-30 18:42] evilebottnawi commented on #118
Need reproducible test repo, thanks!

[2018-10-12 21:50] sentenza commented on #118
The only workaround I found for this issue is adding:

[code]

to my `package.json`. @evilebottnawi you can find the repo [here](https://github.com/sentenza/ng-solid-material/blob/3b8635c2e0f56c1dac5728be17171edf1409be84/package.json#L13)

[2018-11-06 06:30] moonformeli opened #158 "What are the true default extension options?"
Hi, I'm very enjoying to study webpack4.

In the doc, https://webpack.js.org/configuration/resolve/#resolve-extensions
It says that
`extensions: ['.wasm', '.mjs', '.js', '.json']`
is the default options for extensions, however, I've tried to look into ResolveFactory.js at line 60,
I can see
`let extensions = options.extensions || [".js", ".json", ".node"]`
with an annotation "A list of extensions

[2018-12-02 12:06] arcanis opened #162 "Builtin pnp resolver"
I've wrote the [following plugin](https://yarnpkg.com/en/package/pnp-webpack-plugin) to make it easy to use PnP with Webpack. Would you be interested to move it in `enhanced-resolve` in a later version? I think this would prove useful from a DevX perspective, one less configuration required, which would likely help adoption.

The only one issue I'm aware of is https://github.com/arcanis/pnp-webpac

[2018-12-05 12:02] sokra commented on #158
enhanced-resolve and webpack have different defaults.

enhanced-resolve can be used without webpack, then it uses node.js defaults.

webpack uses defaults for the web.

[2018-12-05 12:02] #158 closed

[2018-12-30 22:06] ArThoX commented on #118
Is @sentenza fix working for everyone ? Didnt solve it for me..

[2019-01-11 14:19] arcanis commented on #162
Ping @sokra @TheLarkInn, at least to start a discussion? 😃

[2019-01-17 01:25] asyncmax opened #166 "`isAbsolutePath()` sometimes doesn't work on Windows"
On Windows, when using `bash` instead of `cmd.exe`, Node's `process.cwd()` returns the drive letter in lowercase in some circumstances. This makes the following code fail.

https://github.com/webpack/enhanced-resolve/blob/5c1495a947060cf11106abc325b8adf1a0eff9b1/lib/ResolverFactory.js#L320

The RegExp must be changed to `/^[A-Za-z]:|...` so it can handle lowercase drive letters correctly.

This pr

[2019-01-17 09:33] evilebottnawi commented on #166
@asyncmax feel free to send a PR with tests

[2019-01-21 17:08] TheLarkInn commented on #162
Wow sorry this repo is watched a lot less. I can take a look at this tomorrow!

[2019-01-21 17:09] arcanis commented on #162
No worry, thanks! 😃👍

[2019-01-28 15:13] arcanis commented on #162
@TheLarkInn I went ahead and put up a PR at #168 😃

[2019-02-13 10:05] arcanis commented on #162
I appreciate that we're all busy, but together with https://github.com/webpack/enhanced-resolve/issues/168 it's been two months this issue has been opened with little to no feedback - I can only guess that you're unsatisfied with something, but unless you express it clearly it will be hard for me to adress your concerns in a productive way.

[2019-02-16 15:25] sokra commented on #162
@arcanis sorry I'm in parental leave currently. This would be a breaking change anyway, so no need to hurry, since it would be webpack 5 anyway.

[2019-02-16 15:56] arcanis commented on #162
I see, no worries then, it certainly can wait! Thanks for the update 😊

[2019-03-17 09:19] JoviDeCroock opened #171 "Clear documentation"
Hey,

This title might come across the wrong way, no harm meant I know it's hard to keep these things up-to-date but I've been hopelessly trying to write a webpack-plugin to rewrite a resolve request but it seems that I have to go through all of the code to achieve this, I know it's tapable and going to pipelines to see what I can tap into isn't that hard but how it works is a bit more complex.
If

[2019-03-19 15:10] dazinator opened #172 "[Question] - custom fs implementation"
Hello,

I would like to use an alternative underlying `fs` implementation, such as `memfs` or `unionfs`
I am not sure If I can do this, as [NodeJsInputFileSystem](https://github.com/webpack/enhanced-resolve/blob/95e27d33d052fe955d297c6165111cfd0cc03240/lib/NodeJsInputFileSystem.js) seems to be harcoded to use a particular underlying `fs` implementation. What would be the best way to go about this?

[2019-03-19 15:12] evilebottnawi commented on #172
Send a PR to allow setup own fs

[2019-03-19 15:31] dazinator commented on #172
Currently, the methods that access `fs` are defined at the prototype level:

https://github.com/webpack/enhanced-resolve/blob/95e27d33d052fe955d297c6165111cfd0cc03240/lib/NodeJsInputFileSystem.js#L42

I think I'd need to remove that and have them declared at the class instance level, so that if a custom `fs` is passed in the constructor then that can be used, otherwise fall back to default `fs` im

[2019-03-19 15:36] evilebottnawi commented on #172
Yes

[2019-03-19 15:48] dazinator commented on #172
Great. PR Submitted.

[2019-03-19 16:28] dazinator opened #174 "Many tests fail on windows."
1. Clone repo to windows machine.
2. `npm install`
3. `npm install yarn -g`
4. `npm test`

Results in output (output is large so have put in this gist: https://gist.github.com/dazinator/e0438f7bc55472cd14fdd28dc41b42c9

(49 test failures at last check)

[2019-03-19 17:27] dazinator commented on #174
I think this was an issue with my setup, closing.

[2019-03-19 17:27] #174 closed

[2019-03-19 21:41] JoviDeCroock commented on #171
Allright I have figured out on how to do these things, where can I contribute documentation best?

[2019-03-20 10:13] evilebottnawi commented on #171
@JoviDeCroock just a PR

[2019-03-22 20:06] #171 closed

[2019-03-23 00:16] arcanis commented on #162
Coming to the news! Since the last time Gatsby and Jest (and some less-known tools) now have builtin support, and Parcel signaled interest. Additionally we've announced Yarn 2, which will use PnP by default. We would appreciate a ton any help ensuring a smooth migration path to our user 🙂

[2019-03-23 13:27] evilebottnawi commented on #162
Thanks for helping us :+1:

[2019-03-23 22:59] sokra commented on #162
I have a few questions:

* How to make pnp resolve to the `module` package.json field instead of the `main` field?
* How to make pnp handle aliasings in the package.json like with the `browser` field?
* How to get the nearest package.json for meta infomation like `sideEffects`

[2019-03-24 11:27] arcanis commented on #162
Short answer: you don't 😛

The PnP API exposes three resolution functions, but only one is required. The other two are mostly here for convenience for when the resolution pipeline only allow to replace the resolution on a "all or nothing" basis. This isn't the case of `enhanced-resolve`, which allow to inject plugins at various parts of the resolution.

So in your case, you'd only need the `resolv

[2019-06-21 18:02] webdeb opened #180 "Chunk related resolver"
Hi, I am trying to implement a `ContextualVariantResolverPlugin`. Which will load a variant of a module, based on the branch context:

[code]

So, depending on the branch `desktop/App.js` or `mobile/App.js` the `Button` component should load either from index.js (default) or mobile.js.

Of course I am not willing to implement the logic for every component like button / input etc. Instead, I though

[2019-06-23 13:13] webdeb commented on #180
Maybe there is a way to provide some information to the resolver about the import Stack.
For example:
[code]

Or even better, provide a field, where one could put its flags on, like: when trying to resolve `src/**mobile**` -> request.context.flags.isMobile = true

So that request.context.flags are provided to the dependencies down the road when resolving.

[2019-06-25 20:40] marvinhagemeister commented on #180
Whilst something like this could theoretically work, it makes me wonder if there are any easier solutions to this.

One thing that springs into mind is that since you're doing the branching via feature detection on the client you could reuse that gained knowledge. Let's say you're building some sort of (p)react application. There you could pass the results of the feature detection around via conte

[2019-06-26 09:44] webdeb commented on #180
Yes, I could decide dynamically, but I would loose the benefits of the chunking, right? The main idea here is to switch the resolver to another module by the current chunk. In my index.js is the following:

[code]

So, I was thinking, if I could switch the resolver, when the current compilation is for the mobile branch, and just load/use mobile compoents, this would be very beneficial.

[2019-06-26 11:35] webdeb commented on #180
I am wanted to separate it this way, to accomplish 2 things.
1. to have only one build
2. to separate the mobile application from desktop and vice-versa, because I am using Ionic for some mobile stuff, which I don't want to include into the desktop bundle.

[2019-06-27 06:37] piglovesyou commented on #180
I'm not 100% sure to get your idea but it's nice to have less sized bundle.

How about just having multiple webpack configs using [multi compiler](https://github.com/webpack/webpack/tree/master/examples/multi-compiler#webpackconfigjs)

[code]

Or if you prefer `alias`, [try early access version of my `AliasPlugin`](https://github.com/webpack/webpack/issues/6817#issuecomment-505969374).

[2019-06-27 06:49] piglovesyou commented on #139
Resolver is to resolve paths and handling the content of the files comes afterward. The content can go combined, split or even erased. I'm not sure how resolver can/should know the information.

[2019-07-04 11:36] sokra commented on #180
Resolving is not done for every path of the application. i. e. in your example `Button` will only resolved once from `Page.js` and this is independent of the path it came from. Modules do not depend on the Chunk they are included in.

If you want to have different resolving depending on mobile/desktop use the approach @piglovesyou mentioned: https://github.com/webpack/enhanced-resolve/issues/180#i

[2019-07-04 11:36] #180 closed

[2019-07-04 19:10] sokra commented on #166
fixed

[2019-07-04 19:10] #166 closed

[2019-07-04 19:10] sokra commented on #162
fixed

[2019-07-04 19:10] #162 closed

[2019-07-04 19:10] sokra commented on #147
fixed

[2019-07-04 19:10] #147 closed

[2019-07-04 19:11] sokra commented on #172
fixed, you can pass a `fileSystem` i. e. `fs` or `memfs`

[2019-07-04 19:11] #172 closed

[2019-07-04 19:12] sokra commented on #138
obsolete with new tapable version

[2019-07-04 19:12] #138 closed

[2019-07-04 19:52] #123 closed

[2019-07-06 08:10] vankop opened #184 "Typescriptify enhanced-resolve"
## Feature request

It will be great to support typescript. Related to https://github.com/webpack/webpack/issues/3277 and https://github.com/webpack/webpack/issues/9196

**What is motivation or use case for adding/changing the behavior?**

documentation

**How should this be implemented in your opinion?**

Adding tsconfig, adding typescript as dev dependency. Maybe create typescript definitions as

[2019-07-06 12:21] evilebottnawi commented on #184
PR welcome

[2019-07-06 14:24] sokra commented on #184
You can do it the same way as webpack uses types:

* JSDocs with type info
* lint step which runs `tsc --noEmit` to check the types

[2019-07-09 15:05] #184 closed

[2019-07-19 20:05] jwhite878 commented on #154
I think I may be having the same problem... were you able to find a solution here?

[2019-08-12 12:54] Amirh24 opened #193 "TypeScript issues"
Seems like current code creates issues with TypeScript.

enhanced-resolve/lib/Resolver.js:254
                const idxQuery = identifier.indexOf("?");
                                            ^

TypeError: identifier.indexOf is not a function

And also:

enhanced-resolve/lib/AliasFieldPlugin.js:29
                        const data2 = fieldData[innerRequest.replace(/^\.\//, "")];

[2019-08-12 12:57] evilebottnawi commented on #193
Do you use `enhanced-resolve` directly?

[2019-08-12 14:30] Amirh24 commented on #193
No. it gets called as part of Storybook

[2019-08-12 14:32] evilebottnawi commented on #193
Can't reproduce

[2019-08-13 07:10] Amirh24 commented on #193
Not sure why. This occurs:
<img width="1647" alt="Screen Shot 2019-08-13 at 10 08 45" src="https://user-images.githubusercontent.com/16143361/62921847-85e95300-bdb2-11e9-9088-feb42c2a7d5c.png">
And when adding toString() before the indexOf it's fine and it goes on to the .replace error. When adding a toString() there all seems to be fine

[2019-08-13 10:05] evilebottnawi commented on #193
@Amirh24 something buggy on storybook side, can you create minimum reproducible test repo?

[2019-08-20 16:44] Lucas-Geitner commented on #193
Same issue with react styleguidist or expo for react native web

[2019-10-06 16:21] eret9616 opened #196 "Curious about the Resolver.js in enhanced-resolve"
in  a normal resolver,

Resolver.js:
[code]

ParsePlugin.js:
[code]

Will the 'file' property in 'part' obj change?

e.g:
 i have index.js in src/ and set

demo.js:
[code]
 running webpack, didnt see the property change('file' is still false) in resolve process even in the 'ResultPlugin'

[2019-10-07 11:35] evilebottnawi commented on #196
Can you clarify, what is problem?

[2019-10-07 12:10] eret9616 commented on #196
hi  i'm newbie ,try to read the code,  i wonder what 'file' property do , it's 'false' all the time  didnt see it become 'true'

[2019-10-07 13:39] DimitarTachev opened #197 "Wrong Webpack module resolution in Angular apps"
Investigating a wrong Webpack module resolution in Angular apps, we found out that it's caused by a [getInnerRequest call](https://github.com/angular/angular-cli/blob/17540a2e4be9d72579ccc06978727047f375d551/packages/ngtools/webpack/src/paths-plugin.ts#L53) to the latest version of the enhanced-resolve plugin (v4.1.0).

Problematic code:

[code]

In `enhanced-resolve@5.0.0-beta.3`, the issue is re

[2019-10-08 10:44] evilebottnawi commented on #196
It is internal module in webpack please provide use case, thaks

[2019-10-08 11:43] sokra commented on #197
True, in v4 `join` only supports absolute paths as first argument.

[2019-10-08 11:51] sokra commented on #197
The problem is in `memory-fs/lib/normalize`. The new major no longer uses this.

[2019-10-08 11:54] sokra commented on #197
seems like there is a PR for this: https://github.com/webpack/memory-fs/pull/33

This package didn't get as much love as it would have needed...

[2019-10-08 12:35] sokra commented on #197
fixed: https://github.com/webpack/enhanced-resolve/releases/tag/v4.1.1

[2019-10-08 12:35] #197 closed

[2019-10-10 12:11] evilebottnawi commented on #196
@eret9616 because entry is absolute path to entry, it is allow to avid misleading what entry should be get, because you can have `main.js` and `main.css` and etc

[2019-10-11 01:48] #196 closed

[2019-10-12 14:52] acrazing opened #199 "Unexpected resolve results"
I cannot find out the reason, but the result is:

In one webpack instance, the resolve result is different with same request format in different module:

The first and second one screenshot are third party javascript module in node_modules, the last one is local typescript module.

all the request format is `import { xxx } from 'react-router'`.

The result is: first one resolved `cjs` entry, but t

[2019-10-14 20:54] sokra commented on #199
Resolving from `.mjs` files is different. They do not support the `module` field in package.json.

[2019-10-15 03:44] acrazing commented on #199
I see, thanks.

[2019-10-15 03:44] #199 closed

[2019-10-29 17:28] mjhenkes opened #200 "Allow resolve plugins to access resolve options."
It would be nice to be able to access resolve options from resolve plugins. Specifically in my case I would like to access the extensions options. I can get into why I'm writing this plugin, if anyone is interested I can comment below.

An option, which I assume is the cheapest, is to attach the options to the resolver, similar to how Webpack attaches it's options to the compiler.
https://github.c

[2019-11-10 15:34] Vadorequest opened #202 "NPM license is "none""
There seems to be an issue with the license declared on NPM.

https://www.npmjs.com/package/enhanced-resolve
![image](https://user-images.githubusercontent.com/3807458/68546559-e3a03200-03d7-11ea-934b-787097bbaa94.png)

The license is clearly MIT: https://github.com/webpack/enhanced-resolve/blob/master/LICENSE

[2019-11-11 10:29] evilebottnawi commented on #202
Feel free to send a PR

[2019-11-11 12:04] Vadorequest commented on #202
Well, I don't have time, and I don't see what's wrong either.

The package https://github.com/webpack/enhanced-resolve/blob/master/package.json does specify "LICENSE" in "files", so it should be included when releasing to npm.

[2019-11-13 12:38] rjgotten commented on #89
Hitting this as well in the context of writing a loader for Webpack.

Really annoying and makes it awfully tempting to sidestep the formally correct `this.fs` and just directly hit the raw Node.js internal `fs` module instead.

[2020-01-18 23:35] khalidhoffman commented on #118
@ArThoX  I think you may just need to pass some path string instead of a boolean

[2020-03-06 15:30] llacroix opened #205 "Problem writing a resolver that resolves Http Urls"
Here's what I have so far:

[code]

It does get a few urls that starts with `http` or `https`. But when it fetch and resolve a file containing an import as such:

[code]

It doesn't even trigger an new request. In theory, I could track the actual parent path and compute the actual path to download but for some reasons, it simply fail to resolve with something like this:

[code]

But '/-/@pika/poly

[2020-03-10 18:03] #200 closed

[2020-03-10 18:05] mjhenkes commented on #200
@sokra Thanks! 🎉

[2020-03-10 18:14] #202 closed

[2020-03-11 20:17] ScriptedAlchemy opened #210 "Webpack 5 pnpapi not found"
I'm currently upgrading Next.js to Webpack 5 and running into this issue. When I try and run a serverless build. I'm not sure if this is an enhanced resolve issue or a problem on my side.

Heres the Webpack config. https://github.com/module-federation/next.js/blob/a4653af43d10b67bab77d53943ba27ab155d8c1e/packages/next/build/webpack-config.ts which uses pnp-webpack-plugin

https://github.com/module

[2020-03-12 08:42] evilebottnawi commented on #210
webpack@5 support pnp out of box, can you disable `pnp-webpack-plugin`?

[2020-03-13 05:14] ScriptedAlchemy commented on #210
Ohhh magical! Should I keep the code pasted above still or will that be compatible with the internalized solution. (I’m not familiar with pnpapi)

[2020-03-13 08:51] evilebottnawi commented on #210
Remove it

[2020-03-14 02:17] ScriptedAlchemy commented on #210
Perfect! Thank you!

[2020-03-16 09:04] evilebottnawi commented on #210
@ScriptedAlchemy Can we close the issue?

[2020-04-28 07:45] ScriptedAlchemy commented on #210
Yes

[2020-04-28 07:45] #210 closed

[2020-05-26 17:04] evilebottnawi commented on #111
Sorry for delay, node@7.4.0 is not supported anymore, if you still have a problem please open a new issue with reproducible test repo

[2020-05-26 17:04] #111 closed

[2020-05-26 17:06] evilebottnawi commented on #119
Tasks:
- [ ] list of plugins and what they do
- [ ] example of custom plugin (https://github.com/webpack/enhanced-resolve/issues/122)

[2020-05-26 17:06] evilebottnawi commented on #122
Sorry for delay, close in favor https://github.com/webpack/enhanced-resolve/issues/119#issuecomment-634154422

[2020-05-26 17:06] #122 closed

[2020-05-26 17:08] evilebottnawi commented on #133
Let's close in favor https://github.com/webpack/enhanced-resolve/issues/119#issuecomment-634154422

[2020-05-26 17:08] #133 closed

[2020-05-26 17:09] #143 closed

[2020-05-26 17:10] evilebottnawi commented on #114
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks! Feel free to open a new issue if the problem still exist.

[2020-05-26 17:10] #114 closed

[2020-07-09 13:56] jomi-se opened #229 "Filesystem cache is never cleared based on duration when running completely synchronously"
Hello 👋

I was investigating very high memory usage in https://github.com/sverweij/dependency-cruiser and memory profiling pointed towards this library.

Dependency-cruiser uses this library in a completely synchronous fashion while crawling the file system to gather dependencies. A (several) `CachedInputFileSystem` are instantiated with a `4000` duration.

However, given that during the tool's li

[2020-07-10 11:13] evilebottnawi commented on #229
Yep, memory leak, we need to fix it, you can be the champion of this :star:

[2020-07-15 13:19] #229 closed

[2020-07-15 15:21] jomi-se commented on #229
Thanks a lot for your work @sokra ! <3

I was about to start working on a PR 😅

Will this be included in enhanced-resolve v4 or will you push it to v5 ?

[2020-07-15 15:27] evilebottnawi commented on #229
It is for v5, do you want to backport?

[2020-07-15 15:56] jomi-se commented on #229
If it is not too much trouble, yes please 🙏   (unless you're planning to release in the next couple of days)

This greatly reduces the strain on our CI that is a bit memory-limited, but we'd like to keep on using `dependency-cruiser`

Btw, with the latest version we got a pretty decent performance improvement alongside the memory leak fix. Dependency-cruiser runs ~17% faster with the latest `enhan

[2020-07-15 16:20] evilebottnawi commented on #229
Do you about `neo-async` memory fix or fix in master package for webpack@5?

[2020-07-15 16:26] jomi-se commented on #229
I'm not sure what you mean @evilebottnawi

I'm just directly using `enhanced-resolve` inside `dependency-cruiser`.

I tested the latest version by using `    "enhanced-resolve": "webpack/enhanced-resolve#master",` in `dependency-cruiser's `package.json`

[2020-07-15 17:19] sokra commented on #229
do you mean a beta version or a stable v5 version?

I'm fine with releasing either of them. We can just go to v6 if needed...

[2020-07-15 22:29] sverweij opened #231 "modules in node_modules not resolved when using lookupStartPath "."?"
It looks as though attempts to resolve external modules got jammed somewhere. Did I forget something? Should I pass something extra? Is it a deliberate deprecation?

## Steps taken

Run the example from the README:

_sample.js_
[code]

## Expected

The resolved file path  (something like _./node_modules/enhanced-resolve/lib/node.js_) is printed to stdout.

## Found

An error is thrown:
[code]

##

[2020-07-16 04:33] sokra commented on #231
It has to be an absolute path. The readme always uses an absolute path at that location too.

[2020-07-16 07:45] jomi-se commented on #229
I was asking about a stable v5, but if a beta release is good enough for @sverweij (dependency-cruiser's author) then it's good enough for me.

The perf improvements are very nice, so it'd be cool to get them in addition to this fix @sokra Whatever suits you best

[2020-07-16 12:37] evilebottnawi commented on #231
@sokra I think we can fix it for better DX

[2020-07-16 15:26] evilebottnawi commented on #139
Answer above, it is out of scope resolver, you have a file path, so you can read it from file system. If you don't have real file, you can create temp file and return path to temp file.

[2020-07-16 15:26] #139 closed

[2020-07-16 15:27] evilebottnawi commented on #193
Problem still exists?

[2020-07-16 15:29] #193 closed

[2020-07-16 15:48] evilebottnawi commented on #118
I think here problem with `package.json`, all issue referrer to packages with strange `package.json`:
[code]

`browser` should not be object

[2020-07-16 16:25] sokra commented on #231
This is very performance sensitive...

[2020-07-16 16:27] sokra commented on #118
I think we need to check hasOwnProperty to avoid receiving Object prototype methods

[2020-07-16 16:49] evilebottnawi commented on #118
Yep, just want to find broken example

[2020-07-16 18:46] sverweij commented on #229
If I'd have any say in it I would prefer a stable version; either a back port to v4 or a v5 release - whichever is most comfortable for you.

B.t.w. the performance improvements between v4 and v5/ _master_ are impressive - thank you @sokra for the hard work that went into that!

[2020-07-16 19:43] sverweij commented on #231
@sokra gotcha, clear!

Even though v4 wasn't supposed to be able to receive relative paths in _lookupStartPath_, for ppl migrating from v4 -> v5 it might be unexpected. Should this be documented as a breaking change in i.e. final release notes for v5?

[2020-07-17 09:18] evilebottnawi commented on #231
@sverweij yes, it is good to document it, you can send a PR to docs with this note.

[2020-07-26 18:27] bugknightyyp opened #235 "Tasks:"
Tasks:
- [ ] list of plugins and what they do
- [ ] example of custom plugin (https://github.com/webpack/enhanced-resolve/issues/122)
- [ ] https://github.com/webpack/enhanced-resolve/issues/133#issue-295008913

_Originally posted by @evilebottnawi in https://github.com/webpack/enhanced-resolve/issues/119#issuecomment-634154422_

[2020-07-26 18:28] #235 closed

[2020-08-22 11:14] vankop opened #238 "incorrect resolve"
Good day!

Is there a possibility that the `resolve.modules` implementation changed in webpack5? I upgraded my project and after a few struggles I found out that I have to change this option to make it work.

Here are a few details to the problem:
This is how the webpack `resolve` object looks in webpack4.
[code]

The file structure of my project:
[code]
<details>
  <summary>The content of the <co

[2020-08-24 08:03] KingSora commented on #238
@vankop Thanks for creating this issue! I've attached you the repo.
Run `yarn` and then `yarn dev` to install and start it.

Inside the repo you can find the file `packages/project/src/common/App.js`. Inside this file I'm importing:
[code]
I'm printing the strigified object to the DOM.

With webpack `"webpack": "5.0.0-beta.27"` I'm getting the object from the file `packages/project/src/a/config.js

[2020-08-24 19:59] cmartinez1499 opened #239 "TypeError: Cannot read property 'query' of null in /enhanced-resolve/lib/ParsePlugin.js:19:43 when using xlsx"
A React Application using Webpack getting this error after installing xlsx package with npm
changing:
[code]
 to
[code]
fixes this issue.

[2020-08-25 07:42] vankop commented on #238
@KingSora thanks, finally have reproduced in https://github.com/webpack/enhanced-resolve/pull/240/files

[2020-08-25 09:41] evilebottnawi commented on #239
Please create reproducible test repo

[2020-08-25 12:16] #238 closed

[2020-08-31 16:03] mcongy opened #242 "Regression in v5.0.0-beta.9 or v5.0.0-beta.10 (SyntaxError: Invalid or unexpected token)"
After upgrading webpack@5 from beta22, I'm getting following error:

[code]

Webpack config:
[code]
Babel plugins:
@babel/preset-typescript
babel-plugin-transform-typescript-metadata
@babel/preset-env (target node: 12.18.3)

Probably a regression in v5.0.0-beta.9 or v5.0.0-beta.10

I might post this issue to webpack repo, if it makes more sense.
Let me know if there's anything else you need to kno

[2020-08-31 16:08] evilebottnawi commented on #242
Yes, please create reproducible test repo

[2020-09-04 21:02] rdsedmundo opened #243 "File with a custom extension do not enter into the plugins execution"
I have a `.sql` import on one of my `.js` files that is read by `raw-loader`. I want to transform its path with a custom resolver, but for some reason it doesn't ever enter into the plugin execution (I'm using source `resolve`).

If I include `.sql` on the `extensions` options it gets called as long as I omit the `.sql` extension, if I keep the extension (which I want to) then it's still not calle

[2020-09-04 21:55] rdsedmundo commented on #243
It was because of a babel plugin I was using `babel-plugin-inline-import`. It was trying to parse the file before the resolver got a chance to rewrite the path.

[2020-09-04 21:55] #243 closed

[2020-09-14 19:09] cmartinez1499 commented on #239
here is a repo with the same error.
https://github.com/cmartinez1499/xlsxIssueReplication

[2020-09-15 15:08] evilebottnawi commented on #239
/cc @sokra

[2020-09-17 09:27] sokra commented on #242
This is pretty weird. Sounds like the file is corrupted. Try to delete `node_modules` and reinstall. Maybe this fixes the problem.

[2020-09-17 09:38] sokra commented on #239
It's cased by that line:

https://github.com/cmartinez1499/xlsxIssueReplication/blob/a809c49d076083e1e4a59b633a4e3c15b9518439/webpack.config.js#L52

[code]

What should this line do?

[2020-09-17 09:38] sokra commented on #239
Anyway the problem is fixed in the next major version.

[2020-09-17 10:59] evilebottnawi commented on #242
@mcongy feel free to feedback if reinstall is not help, also please create reproducible test repo and I reopen the issue

[2020-09-17 10:59] #242 closed

[2020-09-17 11:05] evilebottnawi commented on #239
Fixed

[2020-09-17 11:05] #239 closed

[2020-09-18 08:22] goto-bus-stop opened #247 "Cannot resolve files in folders named `#`"
This is quite uncommon, but at least one module with millions of downloads per week has folders named `#`:

https://github.com/medikoo/es5-ext/blob/3ddd2066b19e7c25a782869a304ae35d8188c8f1/string/%23/at.js

With the new enhanced-resolve, `require('es5-ext/string/#/at')` resolves to `es5-ext/string/index.js#/at` instead of `es5-ext/string/#/at.js`.

Try it by doing:
[code]

[code]

[code]

[2020-09-18 09:34] mcongy commented on #242
@evilebottnawi @mcongy
I'm no longer having the problem using webpack@beta30 and enhanced-resolve@beta-12.

Anyway, I tried reinstalling node_modules multiple times, and tried it on different platforms (mac, linux, windows) and had the same issue.

Since it's already working, I won't create a reproducible test repo (I tried, but the application that was being compiled had 1000s of files and I had

[2020-09-18 11:05] evilebottnawi commented on #247
@vankop I think we should use this logic only for es imports

[2020-09-18 11:43] vankop commented on #247
cc @sokra

@evilebottnawi we decided to be consistent, so in example above `#/at` will be hash

[2020-09-18 11:51] evilebottnawi commented on #247
@vankop I am afraid that this may create a lot of problems, I have seen quite a few packages using `#` :disappointed:

[2020-09-19 10:58] goto-bus-stop commented on #247
I don't know if it's explicitly specified one way or the other, but (almost) none of the existing CommonJS code expects require paths to be treated as URLs.

[2020-09-19 13:06] vankop commented on #247
@goto-bus-stop this is webpack specific, take a look into https://webpack.js.org/concepts/loaders/#inline

[2020-09-19 13:18] goto-bus-stop commented on #247
@vankop I don't understand how that relates to `#`…if it's about `?` also being treated specially, the difference is that `?` is not widely used in the wild, while `#` _is_ in use in the wild and treating it specially breaks compatibility with existing modules.

[2020-09-19 14:04] evilebottnawi commented on #247
@vankop maybe we can do `fs.stats` when request contains special characters and check is a directory/file?

[2020-09-21 08:45] goto-bus-stop commented on #247
@evilebottnawi did you intend to close this?

[2020-09-21 11:32] robatwilliams opened #248 "NormalModuleFactory.afterResolve is no longer a waterfall hook"
When I tried Webpack 5 RC 0, I received the following error. It looks like this module may be the cause.

[code]

[code]

In particular, the returning here:

[code]

[2020-09-21 12:26] evilebottnawi commented on #247
@goto-bus-stop sorry

[2020-09-21 12:56] evilebottnawi commented on #248
Please create reproducible test repo

[2020-09-21 14:11] robatwilliams commented on #248
I'm not sure if I'll be able to do that I'm afraid. The modules involved all appear to be internal to webpack, we're not using them directly. Our build is large/complex with many plugins/loaders and can't be pared down to a reproduction case.

It only happens when using webpack-dev-middleware (3.7.2, which is compatible with webpack 5).

I'm ok if you want to close this, I'll reopen if I find any

[2020-09-21 14:24] evilebottnawi commented on #248
I think bug in plugin/loader, I can't help without configuration

[2020-09-21 18:05] sokra commented on #248
This is a breaking change in webpack 5, but the error message is not very helpful in finding the offending plugin.

We should improve the error message.

[2020-09-22 21:25] webpack-bot opened #249 "improve URL supporting"
Amazing feature, thank you! This allows us to use Wasm in npm packages that can be used in Web, Node and Webpack projects.

Did you consider not requiring `./` at the beginning of the relative path? Both

[code]

are the same URL but the second one fails with

_Originally posted by @webmaster128 in https://github.com/webpack/webpack/pull/11276#issuecomment-694070263_

---

This issue was moved fro

[2020-09-25 13:51] stephane-lou opened #250 "Having a hard time implementing the multi-path alias"
Hi.

I have some class where I have to require other javascript files based on an alias I have implemented using the "multi path" alias method.

Let's just take the example I found that led me using this plugin in the first time:

[code]

Now, in my other javascript, I have a "plugin list" in an array where I do this, for the sake of the example let's just say plugin1.js is in `/path/to/try/first`

[2020-09-25 14:30] evilebottnawi commented on #250
You can solve it in own code, for example (pseudo code):
[code]

[2020-09-27 23:23] soluml opened #251 "Error object is missing the `missing` property in 5.0.0"
I have a custom resolver that depends on the `missing` property of an error object returned in the callback after attempting to resolve a path. This was done so that I can attempt to do some further path correction (like globbing). In the latest version (5.0.0), the `missing` field has been removed from the error object.

Is this something that we could get back? Either in the error object or as s

[2020-09-28 10:00] evilebottnawi commented on #251
No, it is breaking change, you should not rely on `missing`

[2020-09-28 11:47] robatwilliams commented on #248
By a process of elimination I found that https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/27 was the issue, which has been fixed but yet to be released.

Agree with keeping this issue to improve the error message, thanks

[2020-09-28 17:37] #249 closed

[2020-09-28 17:49] sokra commented on #251
You can get this info by passing a `missingDependencies` property to the `resolveContext`. It should be an object with an `add` method, e. g. a `Set`. During resolving all missing items will be added. There is also `fileDependencies` for files and the existence of directories and `contextDependencies` for the content of directories.

[2020-09-28 17:58] evilebottnawi commented on #251
Answer above, my mistake, sorry, need to document

[2020-09-29 15:44] evilebottnawi commented on #89
Fixed before, improved here https://github.com/webpack/enhanced-resolve/pull/254

[2020-09-29 15:44] #89 closed

[2020-09-29 15:45] evilebottnawi commented on #205
@llacroix Sorry for delay, do you have problems?

[2020-09-29 17:44] sokra commented on #205
enhanced-resolve only handles resolving on fs. URL resolving would be handled on webpack side.

Maybe you want to specify `/^\//` as external? In future we will have a `module` external type, but `import` external type should also work for now.

[2020-09-30 02:42] llacroix commented on #205
@evilebottnawi I did work around a few bugs and it's working much better than when I wrote that. I'll post an updated version tomorrow.

Back story for this extension if it wasn't clear:
It's designed to package CDN hosted resources or local resources. A framework I have to use doesn't properly handle scripts of type module and it tries to bundle everything instead of keeping them as is. It's a bi

[2020-09-30 16:08] goto-bus-stop commented on #247
I think this was fixed in https://github.com/webpack/enhanced-resolve/pull/255? Thanks!

[2020-09-30 16:08] #247 closed

[2020-10-04 16:49] zerkalica opened #256 "Allow directories in exports field of package.json"
Node.JS (> 12) allows directories in exports, this works:

[code]

But webpack 5 allows only file aliases

[code]

PS: Demo https://github.com/zerkalica/wp-exports-dir-bug

1. Clone, yarn install
2. cd `lib/b`
3. yarn build

Actual: `Module not found: Error: Can't resolve '@some/lib-a/a' in '.../wp-exports-dir-bug/lib/b/-'`
Expecteed: no errors

To demonstrate, that node works, uncomment `'@some/l

[2020-10-05 09:30] evilebottnawi commented on #256
/cc @vankop

[2020-10-05 09:31] sokra commented on #256
This should work. Could you provide a repro?

[2020-10-05 12:08] zerkalica commented on #256
Demo added

[2020-10-05 12:36] evilebottnawi commented on #256
@zerkalica `exports` works only for ESM

[2020-10-05 12:42] zerkalica commented on #256
@evilebottnawi What do you mean? https://nodejs.org/api/packages.html#packages_package_entry_points

[2020-10-05 12:50] evilebottnawi commented on #256
@zerkalica Can you reproduce this without ts?

[2020-10-05 12:55] zerkalica commented on #256
I include ts build into git repository, you can run `yarn build:wp` in lib/b to run without tsc.

[2020-10-05 16:12] evilebottnawi commented on #256
@vankop @sokra It looks like we are not applying `extensions` on `exports` fields (`AppendPlugin`)

[2020-10-05 16:36] evilebottnawi commented on #256
@zerkalica Why do you use `import` without `extension`?

[2020-10-05 17:16] sokra commented on #256
Yep and as far as I know this is correct this way. Extension need to be included in the request.

[2020-10-05 18:07] zerkalica commented on #256
Using exports != using esm. Extensions doesn't required in commonjs `require`, only in imports (https://nodejs.org/api/esm.html#esm_mandatory_file_extensions) . Typescript imports are not 100% valid es imports, [there is no consensus on what should be done](https://github.com/microsoft/TypeScript/issues/16577#issuecomment-703190339), but ts produces valid cjs to webpack.

[2020-10-05 18:11] evilebottnawi commented on #256
@zerkalica yep, I known, just interesting

[2020-10-05 18:40] zerkalica commented on #256
@evilebottnawi Our infrastructure not ready or it, legacy code with lot of `index.ts/js` files in subdirectories. `a/b` needs to be rewrited to `a/b/index.js`. Ide's, which use ts language services (vscode), doesn't autocomplete es-imports correctly.

[2020-10-09 15:11] Zuckjet opened #258 "eslint prettier error on windows because of default CRLF line break"
When running  ``` yarn test ``` script on windows, it will throw errors:
[code]

[2020-10-10 17:20] #258 closed

[2020-10-20 09:04] jaydenseric commented on #256
This issue needs to be triaged and prioritized. I don't use webpack v5 myself yet but I'm getting reports people are unable to use Webpack v5 to bundle [`apollo-upload-client`](https://www.npmjs.com/package/apollo-upload-client) (~700k weekly installs), and presumably an increasing list of other packages that depend on standard Node.js resolution behavior regarding package `exports`.

- https://gi

[2020-10-20 10:27] evilebottnawi commented on #256
/cc @vankop maybe you can help with this?

[2020-10-20 10:29] sokra commented on #256
Working on that

[2020-10-20 11:51] #256 closed

[2020-10-27 07:12] kksweet8845 commented on #210
@ScriptedAlchemy  Did you solve the problem? I got the same issue.

[2020-10-27 11:46] evilebottnawi commented on #210
@kksweet8845 update webpack to latest stable version

[2020-11-07 16:52] lid3rs commented on #210
Having the same issue and using webpack 5.4.0

[2020-11-09 10:57] evilebottnawi commented on #210
You should not `require('pnpapi')`

[2020-11-10 13:42] CRGavrila commented on #210
I don't think they use pnpapi, this error happens to me also when target: node

[2020-11-14 11:01] dstampher opened #263 "Can't resolve 'pnpapi' with webpack 5.4.0"
[code]

Here's my package.json as well

[code]

From what I've heard, pnpapi is built into webpack now, and that might be causing some conflict?  I commented out line 118 in lib/ResolverFactory.js and webpack compiles fine after that.

[2020-11-15 18:32] sokra commented on #263
Whats in this line? src/js/App.js 2:0-35

[2020-11-15 19:14] dstampher commented on #263
@sokra ResolverFactory.js 118

[2020-11-17 09:15] xinaesthete commented on #210
I'm getting this error when I try to use Webpack 5.4.0 to build a module which itself calls the Webpack API.  I do not `require('pnpapi')` directly.  (Also get quite a few `request of a dependency is an expression` and `require function is used in a way in which dependencies cannot be statically extracted` warnings).

[2020-11-17 11:22] evilebottnawi commented on #210
Yep, but what is real use case? Building webpack and webpack stuff is not easy, but it is possible, maybe you can provide more infromation?

[2020-11-17 19:49] xinaesthete commented on #210
It's a live-coding / rapid-prototyping type environment where user can write a module that is reloaded into the system.  This would probably be achievable with a more standard use of HMR, but unfortunately refactoring the code such that it would fit into a more standard webpack build will be more work, I believe.

[2020-11-17 19:59] xinaesthete commented on #210
So as of now, the part of the system that has been built with Webpack for a while is the server (which is relatively simple, written as ES modules in TypeScript).  I'm trying to change it so that there is some new functionality there for running a webpack build of some module that is written / requested at runtime.  I have a simple test JS script for calling the Webpack API, which is working fine

[2020-11-18 09:33] xinaesthete commented on #210
`wepack: "commonjs2 webpack` seems to do the trick.

[2020-11-26 10:34] mo36924 opened #265 "Can't resolve imports field"
Can't resolve imports field.
The file structure of project:
[code]
<details>
<summary>The content of the ./package.json file:</summary>

[code]

</details>
<details>
<summary>The content of the ./dist/a.mjs file:</summary>

[code]

</details>
<details>
<summary>The content of the ./dist/b.mjs file:</summary>

[code]

</details>
<details>
<summary>The content of the ./dist/c.mjs file:</summary>

[c

[2020-11-26 11:08] evilebottnawi commented on #265
Try to do it without webpack

[2020-11-26 11:49] mo36924 commented on #265
This is the result of running without a bundler such as webpack or rollup.

[2020-11-26 11:50] evilebottnawi commented on #265
/cc @vankop

[2020-11-30 17:49] TempD commented on #248
FYI, this issue is also affecting `lodash-webpack-plugin`: https://github.com/lodash/lodash-webpack-plugin/issues/174

[2020-12-03 18:33] BradBailey-web commented on #263
I stopped getting the aformentioned error by changing

`./node_modules/webpack/node_modules/enhanced-resolve/lib/ResolverFactory.js 118:9-26`
to
`return require("./PnpPlugin").PnpApiImpl`

[2020-12-05 14:31] RAMKUMARDANE commented on #263
yes it removes the error,

[2020-12-07 10:46] titpetric commented on #250
I have similar issues, and I don't see how `resolveRequests` should help me somehow. How could I get a resolved filename from an input filename on an AliasPlugin object instance?

I'm trying to define `@theme` that aliases to `theme/${THEME}/` or `theme/default/` as a fileback, similarly to what the original issue description suggests - some files exist in the first location, and the second locati

[2020-12-07 13:34] titpetric commented on #250
Following up, I think my main issue is with hot-loading. If I declare top-level imports into the various .vue/js source files, the file is loaded correctly, but if I do a callback e.g. `() => import('@theme/Commmon/Navigation.vue')` then the compiler/runtime screams at me.

[2020-12-13 23:45] Cauany commented on #210
Hey, how was this problem resolved? I'm having the same problem. Could someone help me? I don't understand how it was solved.

[2020-12-14 22:57] xinaesthete commented on #210
@Cauany in my particular case, I actually switched to using `esbuild` instead and it did what I wanted & runs waaaay faster than WebPack, but that is not to say that it is a general replacement in all cases.

I think what I meant in my previous comment was that I had
[code]
in my configuration and I momentarily thought it solved my problem... but actually I might have still had a runtime error or

[2020-12-16 12:54] Cauany commented on #210
Ok, Thank you!!!

[2020-12-21 10:56] merceyz opened #270 "Bug: exports field is not respected when running under PnP"
**Describe the bug**

When running `enhanced-resolve` under Yarn PnP the `exports` field is not respected

**To Reproduce**

Setup:
[code]
Code:

[code]

[2020-12-21 13:41] #270 closed

[2020-12-21 14:15] merceyz commented on #270
Thanks for the quick fix!

[2020-12-22 12:17] merceyz opened #273 "Bug: incorrectly resolves using node_modules when using PnP"
**Describe the bug**

When running under Yarn PnP `enhanced-resolve` will incorrectly use the `node_modules` resolution

**To Reproduce**

Setup:
[code]
Code:

[code]

[2020-12-22 12:21] alexander-akait commented on #273
Expected, because `modules: ['node_modules']` by default, set `modules: []`

[2020-12-22 12:26] merceyz commented on #273
I originally did that, but that causes it to throw on resolving `lodash`

[2020-12-22 12:29] alexander-akait commented on #273
What is the real case problem?

[2020-12-22 12:40] merceyz commented on #273
I'm adding `exports` support to the PnP api so I need `enhanced-resolve` to only do the resolution from the result of `resolveToUnqualified`, when `resolveToUnqualified` returns a path, if the file `enhanced-resolve` is looking for doesn't exist it will keep on climbing the filetree and potentially return a path from anything else

[2020-12-22 12:44] alexander-akait commented on #273
Please describe the problem, not code, `exports` in `package.json`?

[2020-12-22 15:19] merceyz commented on #273
The problem is that `enhanced-resolve` walks up the filetree and out of the `node_modules` folder given to it by PnP

Yes, the pnp patch doesn't support it at the moment, it only respects the `main` field

[2020-12-22 15:26] alexander-akait commented on #273
So you expected throw error?

It was fixed in the latest version, webpack supports `exports` for PnP

[2020-12-22 15:31] merceyz commented on #273
Yes, it has been told where the package is but the file (`foo.js`) is missing so it should throw.

I'm aware, it's for the pnpapi itself, so that it's supported when running `require` and `require.resolve` in node

[2020-12-29 12:40] merceyz commented on #273
I'm aware this is how the node modules resolution works but would you be open to changing it for when PnP is enabled / adding an option for it? PnP is supposed to not let you resolve something you haven't declared but `enhanced-resolve` currently allows that to happen, i'm able to workaround this in Yarn so it's not critical but would be nice to avoid all that extra IO

[2021-01-13 18:00] MrSnoozles commented on #250
Have you found a solution for this problem?

[2021-01-20 08:44] laibao101 commented on #263
webpack 5.16.0
i use webpack to pack webpack into a bundle.js。it has a same problem。

[2021-01-20 11:32] alexander-akait commented on #263
Somebody can create reproducible test repo?

[2021-01-22 22:53] brian-gonzalez opened #281 "resolver.doResolve() will not resolve main files when request points to a directory"
With Webpack 5.x, when calling:

`resolver.doResolve(target, request, null, resolveContext, callback);`

Where `request.request` points to a directory instead of a file:
[code]

The file is not resolved since the resolver does not look for `/index.js` anymore.

This was not a problem with Webpack 4.x, and interestingly enough Webpack itself doesn't seem to have a problem resolving these type of re

[2021-01-25 10:42] alexander-akait commented on #281
Please create example how you run `resolver`

[2021-01-25 22:25] brian-gonzalez commented on #281
@alexander-akait The plugin is used to provide an overlay/theme structure for JS, similar to how `includePaths` works in SCSS.

It takes an array of directories as a parameter, and it will attempt to resolve `import` calls based in the order provided by said array, looping it until it can find the file in the fallback system.

[code]

[2021-01-28 12:48] jklimke opened #282 "cannot resolve es5-ext file paths that contain # as folder name"
We experienced a broken Webpack build that is caused by the following line:

https://github.com/webpack/enhanced-resolve/blob/ff16fc2854f0960093142297af376c67777bb2f4/lib/Resolver.js#L282

The 'es5-ext' module is requiring a string extension that lives in a folder that is named '#'  [link to folder in project](https://github.com/medikoo/es5-ext/tree/master/string)

required path: ```./string/#/con

[2021-01-28 12:50] alexander-akait commented on #282
Duplicate https://github.com/webpack/webpack/issues/12156? Can you provide small example?

[2021-02-01 03:59] woodgear commented on #282
might that could be a good test case

[2021-02-08 10:08] martpie opened #283 "Package path . is not exported from package"
Hello 👋

While trying to solve https://github.com/martpie/next-transpile-modules/issues/147, I realized the problem was most probably coming from `enhanced-resolve`.

Here's a snippet:

[code]

And the stack trace is:

[code]

`nanoid`'s `exports` field looks like this:

<img width="1030" alt="Screen Shot 2021-02-08 at 11 07 19" src="https://user-images.githubusercontent.com/1311607/107205213-de2c

[2021-02-08 11:53] sokra commented on #283
There is no `default` condition in the exports field and you didn't specify any conditions in the resolver (`conditionNames` option)

[2021-02-08 11:55] martpie commented on #283
Great, thank you! I will forward that to the maintainer of `nanoid`!

[2021-02-08 11:55] #283 closed

[2021-02-08 13:47] sokra commented on #283
You need to pass the conditions that applies in your use case. E.g. `import` if this is a request from an `import`.

[2021-02-08 14:03] martpie commented on #283
Thank you for the tip!

[2021-02-08 15:11] ai commented on #283
@sokra what file we should use `default` export section?

[2021-02-08 22:02] sokra commented on #283
Note that's not wrong to not have a `default`, we just recommend to have one as fallback for unforeseen and future cases.

Here is a note about that in our guide:
https://webpack.js.org/guides/package-exports/#common-patterns
Reading the whole guide is also interesting, but it's pretty long...

Anyway here you can change `imports` to `default`.

[2021-03-15 15:00] ai commented on #283
I added `default` and `browser.default` to `dual-publish` and re-released Nano ID

https://github.com/ai/dual-publish/commit/a85c242d2348c999089625f0f125ccd650d89a40

[2021-03-15 16:16] martpie commented on #283
Thank you very much @ai !

[2021-03-19 15:01] mjameswh opened #287 "SymlinkPlugin's behavior has changed since Webpack 5"
In webpack 4, when SymlinkPlugin identified that a requested path indeed contained a symlink, it would invoke hook `relative` with the canonical path.

https://github.com/webpack/enhanced-resolve/blob/2dfe18a50fb669014e2189371ad7096608054d63/lib/ResolverFactory.js#L329

However, in Webpack 5, this behavior was changed to:
https://github.com/webpack/enhanced-resolve/blob/f08fe3f1a22c90c722eca14b38a

[2021-03-19 16:00] sokra commented on #287
Symlinks should always point to a really existing file. It's not expected that the resolver do apply resolving logic after that. e. g. a symlink pointing to `.../file` should not resolve to `.../file.js` by applying extensions, etc.

So I guess this was a bugfix, but I do not remember it anymore.

[2021-03-19 16:01] mjameswh commented on #281
@brian-gonzalez The structure of hooks in the resolve pipeline have change between Webpack 4 and Webpack 5.

`enhanced-resolve` still honour the `mainFiles` property, but the hook to which your plugin is connected is being called too early in the pipeline. I'm not so familiar with that pipeline either, so I don't know exactly what would be the tradeoffs / consequences of other specific hooks, but

[2021-03-19 20:43] mjameswh commented on #287
Indeed, the default resolver pipeline has no need to apply further resolving logic at that point, but what about custom plugins? Also, I think it's worth pointing out that symlinks may not only be at  the file level, but at any level in the path. Notably, package managers use symlinks to provide various advanced feature such workspaces. Until the `SymlinkPlugin` has been reached, there is no way f

[2021-03-19 20:43] #287 closed

[2021-03-24 05:25] ferdinando-ferreira commented on #263
@alexander-akait : https://github.com/ferdinando-ferreira/enhanced-resolve-pnpapi-bug

[code]

[2021-03-30 20:58] noahnu commented on #273
I've run into this on a project and spent quite a bit of time confused as I wasn't expecting webpack to fallback to node_modules. In my project, this has caused 2 different instances of react-dom to be loaded, one from pnp and one from node_modules, resulting in react crashing.

I'm still trying to figure out why webpack is falling back to node_modules, since I'm not seeing any errors. Would defin

[2021-03-31 14:44] noahnu opened #288 "Bug: linked package incorrectly uses node_modules instead of pnpapi"
enhanced-resolve is incorrectly escaping from the pnpapi context.

### Context

Encountered this via webpack initially using Yarn 2's pnpapi.

### With Webpack:

Repro project: https://github.com/noahnu/yarn-repro-linking-non-pnp, after cloning the project, `cd yarn2-pnp-project && yarn build` then search for `yarn1-nm-project/node_modules/react-dom/index.js` in the `dist/bundle.js` file. It's fro

[2021-04-13 10:47] strax commented on #265
Ran into this as well, seems like subpath imports are not resolved when `package.json` is in a parent directory relative to the module making the request. Node.js works fine on this case. I'm guessing a "package" should be considered to include its subdirectories if they do not contain `package.json` fields themselves?

[2021-04-13 13:07] vankop commented on #265
@sokra could you take a look on initial problem? should this work?

[2021-04-18 08:24] barak007 commented on #263
this is fixed in master but is not released....https://github.com/webpack/enhanced-resolve/commit/f08fe3f1a22c90c722eca14b38a9300ad00c62e8

[2021-04-19 08:23] #288 closed

[2021-04-28 13:53] alexander-akait opened #290 "not working with local package.json"
I created minimal webpack project:
[code]
`package.json`:
[code]
`lib/main.js`
[code]

Then run:
[code]

Error:
[code]

_Originally posted by @zdm in https://github.com/webpack/webpack/discussions/13254#discussioncomment-669831_

[2021-04-28 13:54] alexander-akait commented on #290
Due this https://github.com/webpack/enhanced-resolve/blob/main/lib/ImportsFieldPlugin.js#L59

[2021-05-10 16:03] #290 closed

[2021-05-21 07:50] zemlanin commented on #263
https://github.com/webpack/enhanced-resolve/commit/f08fe3f1a22c90c722eca14b38a9300ad00c62e8 seems to be released in [`5.8.0`](https://github.com/webpack/enhanced-resolve/releases/tag/v5.8.0)

[2021-05-21 13:28] #263 closed

[2021-08-04 10:24] Nebulis opened #296 "Question to resolve Node APIs"
Hi,

I tried to resolve a node API the following:
[code]

It fails but I guess it's normal as it's a lib for webpack. However, I wondered if there is any config to make it easier to resolve node APIs? (fs, path, crypto)

[2021-08-04 10:52] alexander-akait commented on #296
It is just resolver, we don't know what is Node.js module or user module

[2021-08-04 10:54] #296 closed

[2021-08-11 04:12] KevinGhadyani-minted opened #298 "Not resolving file location in another node_modules of a mono repo"
`enhanced-resolve` seems to be looking into the current project's `node_modules` and the parent directory's `node_modules`. My guess is this helps with mono repos.

This occurs with Storybook `v6.3.7` when trying to load `@storybook/addon-docs` which is pulled in by `@storybook/addon-essentials` (the package I install).

The lookup from `enhanced-resolve` doesn't work for my use case with this par

[2021-08-19 15:56] alexander-schranz opened #299 "How to reuse webpacke resolve inside another package configuraiton"
This is not a issue more a question. Currently the postcss import plugin is loading the css file itself. They have an option of resolving the postcss manually e.g.:

[code]

As you see it looks really hacky.

In the webpack resolve I'm just using for other files something like this e.g.:

[code]

This work like expected. But only for the files imported in `.js` files not over the `@import`. I'm no

[2021-08-19 15:59] alexander-akait commented on #299
You need provide options for `enhanced-resolve`, for example we use these options https://github.com/webpack-contrib/css-loader/blob/master/src/index.js#L58 in `css-loader`

[2021-08-19 16:23] alexander-schranz commented on #299
@alexander-akait Thx for the response do you knowhow I can inject the options that it are the same which my webpack configuration is using. I'm trying to avoid to duplicate things here from my webpack configuration.

[2021-08-19 16:27] alexander-akait commented on #299
webpack loaders have `this.getResolve(options)` API, we pass loader context here https://github.com/webpack-contrib/postcss-loader/blob/14f83a0c953f558e5ed07aa459b8e5e320ea2aa5/README.md#function, so you can use this API, if you build it with webpack

[2021-08-20 08:19] alexander-schranz commented on #299
@alexander-akait Thx for all your help! Is that available in some case outside, because postcss is in our cases configured in the `postcss.config.js` where no `this.getResolve` exists. Any way like above import the `enhancedResolve` and then get from webpack the correct configuration for it to use it then inside the resolve method of the postcss.config.js.

[2021-08-31 14:34] vjpr opened #300 "Callback for whether unsafe cache was used for a request"
Would be useful to know what requests are cached by the `UnsafeCachePlugin`.

A `cacheStatusFn` or something like that would be useful. I think modifying the return value might be too intrusive.

## Userland workaround

Proxy property accesses on the `cache` parameter.

[2021-09-10 07:12] scinos opened #302 "[Question] Support for nested conditions"
According to Node docs, [nested conditions](https://nodejs.org/api/packages.html#packages_nested_conditions) are valid.

Does `enhanced-resolve` support nested conditions?

[2021-09-10 10:39] alexander-akait commented on #302
Yes

[2021-09-10 10:39] #302 closed

[2021-09-10 10:47] scinos commented on #302
Would you mind explaining how? It is not obvious from the docs:

[2021-09-10 10:54] alexander-akait commented on #302
We have `exportsFields` (`exports`) so `enhanced-resolve` also we have `conditionNames: ["require", "node"],` to understand them

[2021-09-10 14:20] scinos commented on #302
Maybe I wasn't clear about what I mean by **nested** conditions, my apologies.

If I have an `exports` field like

[code]

What do I need to pass in `conditionNames` to target `node.import` (i.e. get it resolved to `./feature-node.mjs`) first and `import` next (i.e. get `./feature.mjs`)?

[2021-09-10 14:22] alexander-akait commented on #302
How you use `enhanced-resolve`?

[2021-09-10 14:29] scinos commented on #302
[code]

That file is then requested by Jest as a custom resolver.

[2021-09-10 14:36] alexander-akait commented on #302
`conditionNames: [ 'calypso:src', 'node', 'import' ],` you need put `require` here, what is the problem?

[2021-09-10 15:18] scinos commented on #302
How do you express "Get me `node.require` or `import`, but don't give me `node.import`"?

[2021-09-10 15:19] alexander-akait commented on #302
it doesn't work like that...

[2021-09-10 15:29] scinos commented on #302
What doesn't work like that? Nested conditions in general? Or how `enhanced-resolve` solves them?

I'm writing a custom resolver for Jest using `enhanced-resolve`. I was planning to have a bunch of conditional exports in some our packages:

[code]

But some packages will just have
[code]

The _same_ resolver has to resolve both cases. I need it to get `calypso:src/import` OR `require` OR `default`

[2021-09-10 15:31] alexander-akait commented on #302
You can't provide special condition names for special exports fields

[2021-09-10 15:35] alexander-akait commented on #302
But you can solve it using two/three and more resolvers, just try to resolve using `calypso:src`, if not found, try to resolve `require` and `default`

[2021-09-16 22:42] vjpr opened #303 "Support `node:http` etc."
https://nodejs.org/api/esm.html#esm_node_imports

[2021-09-17 11:15] alexander-akait commented on #303
We already supports this in webpack, what do you mean?

[2021-09-17 12:02] #281 closed

[2021-09-17 12:51] alexander-akait opened #304 "`exports` and `node_modules` inside package resolving broken"
@alexander-akait I think you closed my issue prematurely, though granted it was a bit inaccurate.

I've done a bit more digging - the key difference between the `node_modules` folders that npm and yarn generate is that yarn creates `node_module` folders in each dep where their deps have cli tools with a nested `.bin` folder and npm does not.

So from the above, `ipfs-unixfs-importer` depends on `r

[2021-09-17 15:08] alexander-akait commented on #304
@achingbrain we have a bug, somewhat critical

exports example:
[code]

Reproducible:
- we have `package node_modules/package-1`  with `node_modules` and the `exports` field
- we try to load `package-2`  inside `node_modules/package-1/index.js`
- due `ModulesInHierachicDirectoriesPlugin` logic we try to search in `node_modules/package-1/node_modules/package-2` , (using - `request`  - `./package-2`

[2021-09-17 15:15] alexander-akait commented on #304
Let's wait @sokra answer, fix is easy, we should skip resolving in `ExportsFieldPlugin` when we try to resolve file from `ModulesInHierachicDirectoriesPlugin`

[2021-09-17 21:16] vjpr commented on #303
When using enhanced-resolve, it tries to locate the 'http' package but it should be ignored because it's a built-in. But maybe this is out of scope for this package.

[2021-09-19 07:35] wpitallo opened #307 "Webpack does not seem to work with nodes subpath imports."
# Bug report

Webpack does not seem to work with nodes subpath imports.

https://nodejs.org/api/packages.html#packages_subpath_imports

I have the following in my package.json

[code]

If dont bundle so I just run with node it works. As soon as I try bundle with webpack I get:

Module not found: Error: Can't resolve '#core/controllers/_controller'

**What is the expected behavior?**

Webpack shoul

[2021-09-20 09:05] #304 closed

[2021-09-20 11:28] sokra commented on #307
Please try with latest webpack and enhanced-reaolve version

[2021-09-23 10:16] achingbrain commented on #304
I think this problem also exists for `enahnced-resolve@4.x.x`, is there any possibility a fix can be backported for those still using webpack 4 (e.g. react-scripts, etc)?

[2021-09-23 10:23] alexander-akait commented on #304
@achingbrain i am afraid v4 accept only security fixes, what is the blocker to update?

[2021-09-24 16:36] bryanchen-d opened #308 "Resolving root path in RootsPlugin"
Hi, while I am tracing down an issue from react-dev-utils/ModuleScopePlugin, I found that line 37 in RootsPlugin is causing different behavior between linux and windows as it only check for the `/` path separator:
https://github.com/webpack/enhanced-resolve/blob/d1a3cb65cdf90754871a263172006e2902a2f86e/lib/RootsPlugin.js#L34-L42

Also I am curious about when the request path is an absolute path st

[2021-09-24 16:37] alexander-akait commented on #308
Can you provide example how we can reproduce it?

[2021-09-24 17:16] bryanchen-d commented on #308
Thanks for the quick turnaround! I don't have a simple repro for now as my project's webpack config involves quite some plugins. Some info for the issue: I am working on upgrading to webpack@5.53.0, react-dev-utils@11.0.3, and there is a fallback config for crypto:
`resolve.fallback.crypto=require.resolve("crypto-browserify")`.
It builds well for me on windows, but it failed on linux that the Modu

[2021-09-24 17:18] alexander-akait commented on #308
Yep, feel free to ping me

[2021-09-24 17:30] bryanchen-d commented on #308
Updated with a repro, please check.

[2021-09-24 17:34] alexander-akait commented on #308
hm, looks line `ModuleScopePlugin` should ignore request to `node_modules`, but why do you use this plugin (i.e. why CRA uses), we have the `restrictions` options, it can be used instead this plugin

[2021-09-24 17:50] bryanchen-d commented on #308
Oh good to know that, the project was originally created with create-react-app which brings in the ModuleScopePlugin at the beginning, I can try out the new setting.

Regarding the error, from what I found, the `ModuleScopePlugin` did try to ignore those requests as in
https://github.com/facebook/create-react-app/blob/5cedfe4d6f19a5f07137ac7429f57dfe923d93b5/packages/react-dev-utils/ModuleScopePlu

[2021-09-24 17:55] alexander-akait commented on #308
Maybe `ModuleScopePlugin's` plugin should use `resolved` hook https://github.com/webpack/enhanced-resolve/blob/main/lib/ResolverFactory.js#L303... Anyway if you know how to fix feel free to send a fix

[2021-09-24 18:14] bryanchen-d commented on #308
For the build error I have workarounds anyway. For a fix here in RootsPlugin it seems to me that it should simply return callback() when the request.path is already a rooted path, so I am trying to understand the reasons of existing logic.

[2021-09-24 18:15] alexander-akait commented on #308
Note - you can have multiples roots

[2021-09-24 18:16] alexander-akait commented on #307
Feel free to feedback

[2021-09-24 18:16] #307 closed

[2021-09-24 18:27] bryanchen-d commented on #308
You mean multiple roots as in `this.roots` ? But regardless what roots we have, I think in this case the `request` has specified a rooted path, so actually we should just honor that, right?

[2021-09-24 18:30] alexander-akait commented on #308
Need check, just information :smile: I can look at this at weekends, feel free to ping me if you don't found solution

[2021-09-26 01:00] vjpr opened #309 "Promise api"
Could we have a promise api in addition to the callback api? Just as a convenience?

[2021-09-28 00:38] nex3 opened #310 "Subpath imports don't work for built-in Node modules"
Support for [subpath imports](https://nodejs.org/api/packages.html#packages_imports) was added in #293, but they're broken if one of the subpaths is a built-in Node.js module. To reproduce:

[code]

`package.json`:

[code]

`lib/main.js`:

[code]

Run `npx webpack build --target node --entry ./lib/main.js`. It produces this error:

[code]

[2021-09-28 07:14] wood1986 opened #311 "RootsPlugin causes watchpack watches a set of wrong paths"
https://github.com/webpack/enhanced-resolve/blob/d1a3cb65cdf90754871a263172006e2902a2f86e/lib/RootsPlugin.js#L42

This gives a path `'/Users/wood/Desktop/webpack-bug/Users/wood/Desktop/webpack-bug/examples/relay/src/index.web'` See the following screenshot

![image](https://user-images.githubusercontent.com/5212215/135038075-64af9754-a5ee-4762-8cd1-626850ca1521.png)

because of that, watchpack wat

[2021-09-28 07:18] wood1986 commented on #311
You can repro it any webpack project

[2021-09-28 13:44] vankop commented on #310
As a hack for now I could suggest to put `./fs.js` in your app, where fs.js
[code]

[2021-09-30 14:07] alexander-akait commented on #309
Yes, PR welcome

[2021-09-30 14:24] alexander-akait commented on #311
Expected, because you can have links

[2021-09-30 14:54] sokra commented on #310
The workaround by @vankop sounds good. This is a little bit complicated to fix...

[2021-09-30 17:17] wood1986 commented on #311
Yes, I pass the entry but `webpack` and `enhanced-resolved` give this link '/Users/wood/Desktop/webpack-bug/Users/wood/Desktop/webpack-bug/examples/relay/src/index.web'. I did not specify `roots` in my `weboack.config.js` and `webpack` will autofill `roots` with `context` which is the `__dirname`. I think this behaviour is wrong.

If it is wrong to you, I do not know which party should fix it

[2021-09-30 17:24] alexander-akait commented on #311
Bug in `unionfs`, some errors is not possible to ignore,  why you need this?

[2021-09-30 17:27] alexander-akait commented on #311
`'/Users/wood/Desktop/webpack-bug/Users/wood/Desktop/webpack-bug/examples/relay/src/index.web'` happens, because you can have:

`import foo from '/foo/bar.js';`

you can have `/foo/bar.js` as absolute path to file and as URL (`http://example.com/foo/bar`, i.e. relative to context), so we need to check both

[2021-09-30 18:27] wood1986 commented on #311
you are partially correct but `unionfs` is not the root cause. If I patch the fs, the `.on` is broken . If I do not patch it, the issue still exists and watchpack hide the legit error in the try catch block.

The reason of having this is I want to require a js output inside the `compiler.outputFileSystem`

Otherwise, I am going to do this on watchpack side `watcher.on && watcher.on()` and `watcher

[2021-09-30 20:25] nex3 commented on #310
Does it? For non-subpath imports, Webpack already knows to avoid trying to bundle `require('fs')`. I'd assume that it could just re-use the same logic here.

[2021-09-30 21:18] vankop commented on #310
@nex3 I have created small example, take a look https://github.com/vankop/bundle-fs

[2021-10-01 09:40] alexander-akait commented on #311
Can you clarify why you need to patch fs? Layer fs (i.e. in memory and on disk)? Why do you need error message?

[2021-10-01 13:48] wood1986 commented on #311
Because I am building a SSR plug-in which will bundle the js files for node to run. And the webpack middleware will require this file to output and return the html when using with webpack-dev-server.

I do not need this error message. Currently

[2021-10-01 13:54] alexander-akait commented on #311
We have `writeToDisk` options for `webpack-dev-middleware`

[2021-10-01 14:16] wood1986 commented on #311
yes, but the web version js is able to output to memfs but node version js cannot. I expect a symmetric output

[2021-10-02 14:35] alexander-akait commented on #311
Using your repo I don't got your problem, my problem is:
[code]

I really don't understand what you try to fix, also fix is invalid.

Also changing `fs` in `after` is wrong places, you should do it before webpack starts, otherwise if will have corrupted fs caches.

Why you patch `require`? Using `outputFileSystem` for `require` is fully unsafe

[2021-10-02 15:46] wood1986 commented on #311
Before helping you to understand the issue, I want to say you should not care how I patchFs because it is not the main point. I find that patchFs exposes the hidden issue accidentally. Additionally, I am trying to expose the memfs for yarn pnp to require the file from the memfs.

I have been telling you the problem you see is because RootsPlugin L42 generates the wrong path. You will only see the

[2021-10-02 15:57] alexander-akait commented on #311
Because you can have `/foo/bar` as absolute path and set `context: '/foo/bar/'` and `require('/foo/bar')`, so `/foo/bar` and `/foo/bar/foo/bar/` are valid cases, and we should check them both, we can't check using `statsWiths`

I can't help you because I don't understand what you want archive. Do you want to use memfs for yarn? Sorry, I think it is not fully possible due limitations on yarn and we

[2021-10-02 15:59] wood1986 commented on #311
But I am not fixing the result of resolver.resolve

[2021-10-02 15:59] alexander-akait commented on #311
You change `path`, so resolution will be different

[2021-10-02 16:03] wood1986 commented on #311
Yes the path in https://github.com/webpack/enhanced-resolve/blob/d1a3cb65cdf90754871a263172006e2902a2f86e/lib/RootsPlugin.js#L45

because path will be used by watchpack to watch the path

please forget yarn as I have been saying the issue still exists without yarn and watchpack hide the error and I do not want to confuse you

[2021-10-02 16:07] wood1986 commented on #311
If enhanced-resolve wont fix it, the whole resolution still use the wrong path

[2021-10-02 16:07] alexander-akait commented on #311
We hide errors, because it will be spammy to output ENOENT, again `enhanced-resolve` check many things and should watch them, for example you can have `resolver.extension: ['.jsx', '.js']` and we should watch `file.jsx` and `file.js`, otherwise we can't run compilation again on added files

[2021-10-02 16:09] alexander-akait commented on #311
Sorry, you don't listen to me (I repeat the same things many times), I can't help you

[2021-10-02 16:11] wood1986 commented on #311
I understand that that's why I think the root cause is in this package not watchpack. I can do watcher.on && watcher.on() and watcher.close && watcher.close() but this fix does not make sense

[2021-10-02 16:19] wood1986 commented on #311
Which part I don't listen? You are focusing on the result resolver.resolve and I am telling you wrong information `path` inside the request obj while resolving. Your example `/foo/bar/foo/bar/` will not be affected the result while resolving. I have showed you in my new test case of my PR and the result of resolver.resolve of the existing test cases are passed

Do you know who can help me? Could y

[2021-10-02 16:34] alexander-akait commented on #311
What is the problem with resolving `/Users/wood/Desktop/webpack-bug/Users/wood/Desktop/webpack-bug/examples/relay/src/index.web`?

[2021-10-02 16:42] wood1986 commented on #311
Thanks for coming back. Resolving this is not a problem `/Users/wood/Desktop/webpack-bug/Users/wood/Desktop/webpack-bug/examples/relay/src/index.web` But this path lives inside request obj and then used by watchpack for the watch. The side effect of this path makes watchpack recusively watch the following dir

`/Users/wood/Desktop/webpack-bug/Users`
`/Users/wood/Desktop/webpack-bug/Users/wood`
`/U

[2021-10-02 16:45] alexander-akait commented on #311
Yes, as I said before it is expected, even more `enhanced-resolve` can have plugins and watch more things

[2021-10-02 16:58] wood1986 commented on #311
If you still think it is expected even with the path inside request obj
![image](https://user-images.githubusercontent.com/5212215/135725541-331cb199-32a5-442f-9be2-4036f7586f56.png)

Then I cannot continue.

Now the discussion will be on watchpack side. May I request adding `watcher.close && watcher.close()` and `watcher.on && watcher.on()` in this `watchEventSource.js`? (I know this should be di

[2021-10-03 06:53] #311 closed

[2021-10-17 18:36] remorses commented on #282
I made a reproduction at https://github.com/remorses/enhanced-resolve-repro-hashtag

Tip: to check if a string contains the null (`\0`) character you can use `JOSN.stringify`, console.log won't show null characters

PS: I found this issue trying to resolve a package that uses https://gitpkg.vercel.app to be installed, using gitpkg.vercel.app you use # to specify the commit you want to install

[2021-10-19 02:16] pauldraper commented on #303
If require.resolve does it, it's not out of scope.

[2021-10-20 15:01] pauldraper opened #313 "Problem with exports"
I'm not sure what the nature of the problem is, but the `@rollup/pluginutils` package won't resolve.

[code]

Node.js succeeds:

[code]

enhanced-require fails:

[code]

[2021-11-01 18:57] markjm opened #316 "Use throwIfNoEntry for sync resolver once graceful-fs supports it"
For cases of using sync resolver, throwIfNoEntry improves stat fail case by a large margin. The API in node is backwards compatible, so we *should* just be able to add this option and be on our way.

Unfortunately, there is an issue with this option in graceful-fs, so I have opened an issue there. Once resolved, this should be unblocked and easy change here.

https://github.com/isaacs/node-gracefu

[2021-11-02 10:04] alexander-akait commented on #316
Make sense, PR welcome

[2021-11-02 12:05] vjpr opened #317 "Support typescript@4.5 `.js` import extension requirement"
ESM requires all relative imports to use an extension. TS requires insists on using `.js` inside `.ts` files which is left untouched in the output file.

See: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-5.html

---

When trying to resolve `#src/index.js` from a TypeScript file, it should search for `#src/index.ts`. The extension needs to be stripped during search.

I us

[2021-11-02 12:09] alexander-akait commented on #317
We have options and plugins, you can do it using them, it should be done in `ts-loader`

[2021-11-02 12:18] vjpr commented on #317
I am actually using it in an `node --experimental-loader` hook. Currently I am planning to just chop off `.js` extensions, but then there is a perf impact if I chop off the extension and then it must search all extension.

Is there an option I am missing that handles this?

[2021-11-02 12:21] alexander-akait commented on #317
You see this https://github.com/TypeStrong/ts-loader/issues/1383

[2021-11-02 12:25] vjpr commented on #317
Thanks, this logic is TS-specific so should not be inside enhanced-resolve as you mention.

[2021-11-02 12:25] #317 closed

[2021-11-03 10:01] niksy opened #318 "Exports and `conditionNames` matching"
I have a question regarding resolving with `exports` field and `conditionNames`.

I have following custom resolver options:

[code]

My package in `node_modules` has this `package.json`

[code]

With this configuration package is still resolved to `index.js` instead of `index.css` even though `exports.style` field is defined earlier than `exports.import` field. If  I remove `exports.import` field,

[2021-11-03 10:08] niksy commented on #318
OK, I’ve remembered following [note from official documentation](https://nodejs.org/api/packages.html#:~:text=Within%20the%20%22exports%22%20object%2C%20key%20order%20is%20significant.%20During%20condition%20matching%2C%20earlier%20entries%20have%20higher%20priority%20and%20take%20precedence%20over%20later%20entries.%20The%20general%20rule%20is%20that%20conditions%20should%20be%20from%20most%20spe

[2021-11-03 10:26] alexander-akait commented on #318
Please provide reproducible example

[2021-11-24 05:12] x-yuri opened #319 "`webpack` fails to resolve `@rollup/plugin-json`"
`package.json`:

[code]

`src/index.js`:

[code]

`webpack.config.js`:

[code]

[code]

`dist/main.js`:

[code]

* `src/index.js` expects `require(...)` to return the `json()` function, but it returns `{default: function json() {...}}`
* the resolver is created with [`{dependencyType: 'esm'}`][a], because the [entrypoint][b] has category [`esm`][c]
* for [`esm`][d] `resolveOptions.mainFields` is [

[2021-11-24 11:32] alexander-akait commented on #319
Sorry, not related to webpack

[2021-11-24 17:55] x-yuri commented on #319
Which means... a `rollup` bug? Or `module` is a non-standard field and everybody treats it as they see fit? And as such the responsibility to resolve such conflicts are on `webpack` users? Which is probably okay.

[2022-01-12 16:01] Sidnioulz opened #325 "Exports field trees with top-level conditions are not supported"
From my understanding, enhanced-resolve is supposed to know how to handle the `exports` field of `package.json`, including exports with conditional names, as there are checks for conditional mappings in the code.

Everything in this ticket relates to the `lib/util/entrypoints.js` file.

In the `buildExportsFieldPathTree`, we can see that exports that do not start with a dot are rejected. Condition

[2022-01-12 16:05] Sidnioulz commented on #325
## Workaround

If you are affected by this bug, you can instruct Webpack to force enhanced-resolve to use a specific condition, by duplicating the information in `package.json` under a new name. **This only works if you own the library whose exports are not properly parsed.**

In my case, to force enhanced-resolve to use the `import` subtree, I added this to my imported library's `package.json`:
[

[2022-01-12 16:06] alexander-akait commented on #325
Can you provide small reproducible example to investigate?

[2022-01-12 16:34] Sidnioulz commented on #325
@alexander-akait thanks for your quick reply!

You'll find a MWE here: https://github.com/Sidnioulz/BUGREPORT-enhanced-resolve-exports.

You'll need to run `yarn` on both folders. The webpack config file contains the commented out workaround and my trimmed down utils package contains the workaround basicExports field too.

[2022-01-12 17:20] alexander-akait commented on #325
That is interesting, because if you run code without webpack, i.e. just `node index.mjs` (rename `js` to `mjs` and use Node.js v16) you will get the same problem

[2022-01-12 17:21] alexander-akait commented on #325
But if you change it to:
[code]

You will get:
[code]

Expected, because we don't have `type: "module"`, but as you can see Node.js load file

[2022-01-12 17:31] alexander-akait commented on #325
Please use:
[code]

Note - `./*` with `require` should provide commonjs, not esm, looks like it was designed that way, i.e. `Conditional exports` should be always `string` no object, so you can't forget to add other conditionals for other files, like I pointer above for `./*`

[2022-01-12 18:41] Sidnioulz commented on #325
Just some additional context: we do manage extension matching in our Webpack and Rollup configs. Our node callees always use the CJS code for now which allows us to not go full module, and to import CJS code in our ESM builds (also covered by our Rollup / Webpack configs). Also, all our JSX, TS and TSX code is transpiled to JS before shipping. So, hopefully the adding or removing of file extension

[2022-01-12 18:43] Sidnioulz commented on #325
At the very least, if you decide that the bug report should be closed, would it be possible to detect this edge case and provide a more precise error message? It took me a whole day of debugging and reading source code to find why this was failing, so earlier detection would be very useful.

[2022-01-13 10:18] alexander-akait commented on #325
As you can see it is impossible due Node.js logic, we don't add something new here, just re-implement logic

I think will be great to improve it on both sides - Node.js and webpack. In fact, you can always write your own plugin and make it work, but as you can imagine, this is not a good idea, since other bundlers most likely will not support it.

It is good idea. Node.js outputs misleading error

[2022-01-13 10:36] Sidnioulz commented on #325
Thank you!

I'll rework the title and body of the issue to make it about improving the error message.

[2022-02-16 16:23] mistercoffee66 opened #330 "[help request]"
In the [docs](https://github.com/webpack/enhanced-resolve#readme), we have the following example:

[code]

and then a sample webpack config:

[code]

In this example, what are the `source` and `target` args passed to the constructor? They come up as `undefined` for me. Using
`"webpack": "^5.69.0"`

Thanks!

[2022-02-16 16:37] vankop commented on #330
So here is "pipeline" of resolving https://github.com/webpack/enhanced-resolve/blob/main/lib/ResolverFactory.js#L281

`source` should be a hook name which you want to tap like here https://github.com/webpack/enhanced-resolve/blob/main/lib/ResolverFactory.js#L345
and `target` is next hook in pipeline

[2022-02-16 16:41] mistercoffee66 commented on #330
@vankop Thanks for the quick response. I did see that before, but somehow the lightbulb went off when you wrote it. Cheers!

[2022-02-16 16:41] #330 closed

[2022-02-28 14:19] clauderic opened #332 "Is it possible to find the "first" issuer of a `request`?"
I'd like to know if it's possible to find the first issuer of a `request`, for example:

[code]

When processing the request for 'a', its issuer is `./app/App.js`. If the resolver makes subsequent requests within `'a'`, is it possible to keep track of the original issuer? Or is this simply not possible at the resolver level?

For example, when resolving the request to `'b'` within `'a'`, can we kn

[2022-02-28 14:50] vankop commented on #332
sorry, right now there is no way to do this.

[2022-02-28 14:50] #332 closed

[2022-03-01 14:42] sokra commented on #319
It resolves it fine. It exports an ESM which can be used like that:

[code]

or better:

[code]

[2022-03-01 14:43] sokra commented on #318
There is no order in `conditionNames`.

The matching order is given by the order of the properties in the `"exports"` field.

[2022-03-01 14:43] #318 closed

[2022-03-07 22:11] DavidTanner commented on #263
I'm still getting this error, but with yarn berry.

[code]

[2022-03-08 12:23] MMMarcinho opened #334 "About the new change in AliasPlugin.js"
last week, your team update the version of the enhanced-resolve
however, using v5.9.2, my project cannot build at all, it will be stuck while building.
It makes me really puzzled, because my project's alias is `'#': path.resolve(__dirname, './src'),`
when I change it into `'balabala': path.resolve(__dirname, './src'),`, it will continue to build. balabala can be anything but #
and when I change th

[2022-03-08 12:26] vankop commented on #334
hm.. not sure that `#` as request is valid one..

[2022-03-09 06:50] MMMarcinho commented on #334
Now I make it clear the reason why it stops building.
Maybe the line 48 is not rigorous enough. If the alias is `'<Single Character>': path.resolve( .....)`, and then, after slice(0, -1), single character will be **''** , and `.startsWith('')` will return true in any cases.
Not using `.slice(0, -1)` for the single string might be the better option?

[2022-03-15 12:54] vankop commented on #334
I'll take a look. this should be fixed..

[2022-03-18 10:49] VisonM commented on #199
@sokra hello sokra. I'm stuck in a similar problem these days. I was wondering if you could answer my question when you have time, thanks a lot.❤️

### introduction

`webpack version:4.46.0`
`enhanced-resolve version:4.5.0`

I use [`vue-i18n-composable`](https://github.com/intlify/vue-i18n-composable) in a web project base on [`@vue/composition-api`](https://github.com/vuejs/composition-api)

[cod

[2022-03-21 03:02] VisonM opened #338 "why `.mjs` import a different file with other in webpack4"
### reproduce link
 https://github.com/VisonM/import-mjs-reproduce-webpack4

 ### screenshot
![image](https://user-images.githubusercontent.com/40595135/159199943-d365c242-e337-4c6b-bdf0-35109043e5ec.png)

### introduction

`webpack version:4.46.0`
`enhanced-resolve version:4.5.0`

I use [`vue-i18n-composable`](https://github.com/intlify/vue-i18n-composable) in a web project base on [`@vue/composi

[2022-03-21 05:08] vankop commented on #338
not sure that webpack@4 supports `mjs` by default. please add `.mjs` to extensions settings https://webpack.js.org/configuration/resolve/#resolveextensions

[2022-03-21 05:08] #338 closed

[2022-03-21 05:17] VisonM commented on #338
vuecli has add .mjs to extensions
![image](https://user-images.githubusercontent.com/40595135/159208399-e8a66982-a40f-4c60-aebc-5bfa40deb86b.png)

also obviously it has loaded an mjs file(@vue/composition-api/dist/vue-composition-api.mjs),it support `mjs`

![image](https://user-images.githubusercontent.com/40595135/159208660-a7cbc1b5-1948-448a-8765-cadc99f663b7.png)

[2022-03-21 05:19] vankop commented on #338
I can't help with `vue-cli` setting, I just describing how to make webpack work with `.mjs` extension.

[2022-03-21 05:23] VisonM commented on #338
@vankop
I mean, I have configured mjs extension in webpack4. But he still works abnormally. The exception is that it does not always import files of the same module type, maybe my expression is not clear enough.

[2022-03-21 05:28] vankop commented on #338
which version of `@vue/composition-api` ?

[2022-03-21 05:33] vankop commented on #338
ok I see.. Unfortunately, this is unsolvable for webpack@4 ( it does not support `exports` field ). please use direct import for `.mjs` then..

[2022-03-21 06:14] VisonM commented on #338
ok, thanks for your patience.but I'm still a little suspicious.
You mean @vue/composition-api/package.json has exports field
[code]
when we use require, it will point to "require": "./index.js"?

 but i always use `import` how did he become `require`? because babel transforms the module?

[2022-03-24 10:10] huozhi opened #339 "resourceQuery appending to package from node_modules result to wrong module request"
### Description

Adding resourceQuery seems doesn't work for packages in node_modules

### Observed

For instance, adding a resource query `myquery` to the import declaration such as `import Foo from 'foo'` will become `import Foo from 'foo?myquery' `. The final package is resolved as ./?myquery

The logic seems from https://github.com/webpack/enhanced-resolve/blob/e5ff68aef5ab43b8197e864181eda391

[2022-03-24 14:16] vankop commented on #339
hm.. I will take a look.

[2022-03-25 08:43] vankop commented on #339
here webpack has parity with Node.js
<img width="750" alt="Screenshot 2022-03-25 at 11 42 46" src="https://user-images.githubusercontent.com/10380560/160086028-e7bdaee1-0560-435a-b7e8-9425a349bb48.png">

foo/package.json
[code]

[2022-03-25 08:43] #339 closed

[2022-03-25 08:55] vankop commented on #339
I agree that this restriction could be kind of weird.. but this is how `exports` field works. in case
[code]
`X` is subpath of specifier (`<specifier>/<subpath>`) and then `X` is compared to `<subpath>` by string comparison.
so symbols like `?`/`#` a considered as part of `<subpath>`

[2022-03-25 09:32] huozhi commented on #339
Thanks for clarafication! So sounds like I shouldn't use the resourceQuery for 3rd party packages. Will try other approaches to achieve it since we just wanna apply some loaders to it. 🙏

[2022-03-27 09:51] jscheid commented on #263
Exact same error as @DavidTanner here, using enhanced-resolve 5.9.2, Yarn 3.2.0 and Jest 27.5.1. Repro: https://github.com/jscheid/enhanced-resolve-263

[2022-04-04 05:17] pmmmwh commented on #118
I think this will break reliably - a couple helpers in `lodash` mutates function prototype, in particular anything related to `_setToString` (e.g. `sortBy`)

[code]

The issue creeps in via `whatwg-url` which internally uses `lodash/sortBy`.

[2022-04-04 06:31] vankop commented on #118
yeah, this should be fixed..

[2022-04-07 10:01] ooyyloo opened #341 "When package xxx supports 'exports' and 'types', 'xxx/types' import leads an error"
Hey, I'm using "enhanced-resolve" recently. When I use it to resolve "react-easy-crop/types", an error occurs. It says

        Package path ./types is not exported from package zzz/nodemodules/react-easy-crop (see exports field in zzz/nodemodules/react-easy-crop/package.json)

It seems that this error message is thrown by certain plugin in ResolverFactory.js, as I delete the "exports" field, "rea

[2022-04-07 11:50] vankop commented on #341
`exports` field defines package exports. In your case if there is no `./types` entry in exports, it means that package author think that `./types` are internal module and should not be exported..

[2022-04-07 11:50] #341 closed

[2022-04-07 11:51] vankop commented on #341
If you think that this is export bug please report it to package author

[2022-04-09 07:29] scott-cornwell opened #342 "enhanced-resolve is broken on Windows"
https://github.com/webpack/enhanced-resolve/blob/c960801d5cfbb6a472e40a7fe8f6c0679955a13b/lib/AliasPlugin.js#L70

This line needs to normalize paths between unix paths and Windows. When using packages like Linaria on Windows (that depend on enhanced-resolve), aliases don't work (which is the only way to get alias with Linaria currently). The paths end up mixed slashes with the base alias path havi

[2022-04-09 17:11] vankop commented on #342
alias is string to string mapping. please provide webpack.config + what request you are trying to resolve

[2022-04-11 11:54] LookRain opened #344 "Unable to resolve named module to in the current directory in Webpack 5"
I was trying to implement a resolver plugin that resolves a module import to a file in the current directory, similar to what alias does except I need some conditional logic.

The resolve rule I'd like to achieve:
[code]
should resolve to `src/_box/test-no-dep`.

The plugin code:
[code]

However, this does not work and I got the following error:
[code]

<img width="820" alt="image" src="https://us

[2022-04-12 04:01] LookRain commented on #344
Hi @vankop I figured out that the new request I constructed is not correct relative to its path, after fixing that and the pipeline name, everything worked.

Thanks!

[2022-04-12 04:01] #344 closed

[2022-04-12 09:32] #118 closed

[2022-04-12 09:34] #334 closed

[2022-04-29 15:08] alexander-akait commented on #282
@denieler Can you provide reproducible test repo?

[2022-05-02 08:23] vankop commented on #282
this probably caused by some plugin that gets "resolver" version of path ( with escaped symbols ), easy solution will be don't use `#` in path.
_________

btw issue is solved in latest `webpack`/`enhanced-resolve`

[2022-05-02 08:23] #282 closed

[2022-05-22 03:03] bvanjoi opened #346 "[Question] The behavior of importsField conflicts with `require.resolve`"
For the [out of package scope of importField](https://github.com/webpack/enhanced-resolve/blob/main/test/importsField.js#L1214) example, there are some inconsistencies between `require.resolve` and `enhanced-resolve`.

Executing `require.resolve('#b')` in the importsField folder will report an error directly:

<img width="1193" alt="image" src="https://user-images.githubusercontent.com/30187863/16

[2022-05-23 06:56] vankop commented on #346
hm.. how Node.js behave in this example? we should have parity with Node.js resolve algorithm here

[2022-05-23 07:21] bvanjoi commented on #346
Throw an error 😢

[2022-05-23 07:47] vankop commented on #346
same error? I mean that it is not defined in `importsField` ?

[2022-05-23 08:08] vankop commented on #346
in your example you have  `importsField` target out of package scope.
target - is right side of `importsField` ( in your example `../a.js`). Target is scoped to current package.json location, e.g. if you have
[code]
you can't request target out of `a/` directory

[2022-05-23 09:28] vankop commented on #346
it looks like `enhanced-resolve` doesn't throw error, lets fix it

[2022-06-03 05:52] louisscruz commented on #263
I'm currently experiencing the same as @jscheid with the same exact versions of those dependencies.

[2022-06-14 19:41] louisscruz commented on #263
I've opened https://github.com/webpack/enhanced-resolve/pull/349, which seems to be patching the issue locally for me. There's got to be a better way, but maybe the approach taken in that PR is good enough to provide a workaround for now?

[2022-06-14 21:22] louisscruz commented on #263
Aha! Things seem to work as expected if `require('pnpapi')` is changed to `require('module').findPnpApi(process.cwd())`. The PR has been updated.

[2022-06-19 00:28] cristiano-belloni opened #350 "Resolving to browser entrypoint"
Hi,
Quick question about the scope of this project.

The problem I have to solve is: for an arbitrary npm package, I need to resolve the path to the file that the package author "is suggesting" me to load if I wanted to execute their package in a web browser (I guess, for example, using `browser` if defined, if not falling back to `exports.import`, etc., finally falling back to `main`). In other w

[2022-06-19 01:30] cristiano-belloni commented on #350
I just realised that the api of this package map 1:1 Webpack's `resolve` options and that they're explained in the Webpack docs. Closing!

[2022-06-19 01:30] #350 closed

[2022-06-20 13:22] vankop commented on #263
@louisscruz please try latest webpack

[2022-06-28 10:14] #346 closed

[2022-07-14 00:29] albertyfwu commented on #263
@vankop I'm on the latest webpack (5.73.0) but still seeing this error.

[2022-07-25 13:27] scott-lc opened #352 "Exports subpath wildcard patterns issue."
Referring to the Node [subpath patterns](https://nodejs.org/api/packages.html#subpath-patterns) documentation, notice how a pattern can specify a file extension (in this example `.js`) on both sides of the pattern mapping:

[code]

According to the Node docs,

However, this does not work in `enhanced-resolved`.   The wildcard pattern without a file extension works fine, for example:

[code]

But a

[2022-07-25 13:45] alexander-akait commented on #352
Sounds like a bug, do you want send a fix?

[2022-08-08 03:12] xlianghang opened #354 "Show more information when resolve exports field failed"
![image](https://user-images.githubusercontent.com/90079525/183330676-4ef4f0f0-050b-4597-ba76-8dbcb6f8933c.png)

Hope to show the module name

[2022-08-10 11:51] alexander-akait commented on #354
These errors from `friendly-errors-plugin`, we can't fix it here, try to disable this plugin and look at error's output

[2022-08-10 12:09] xlianghang commented on #354
I see the error from [here](https://github.com/webpack/enhanced-resolve/blob/main/lib/util/entrypoints.js#L455)

[2022-08-10 12:21] alexander-akait commented on #354
I see, feel free to improve thia and send a PR

[2022-09-08 16:01] vankop commented on #354
This should be improved on webpack side, nothing todo in `enhanced-resolve`

[2022-09-13 09:28] remcohaszing opened #355 "`extensionAlias` is not applied to module exports"
Let’s say we have a TypeScript mono repo with one package that depends on another. The actual TypeScript configuration is left out, because it’s not needed for this example.

`webpack.config.js`:

[code]

`package.json`:

[code]

`foo/packages/package.json`:

[code]

`foo/packages/index.ts`:

[code]

`bar/packages/package.json`:

[code]

`bar/packages/index.ts`:

[code]

Now if we build using Webp

[2022-09-15 23:57] alexander-akait commented on #355
Hello, sorry for delay, currently it is expected, because `exports` should work as written (i.e. if you requested `file.js` we should return `file.js` and if you requested `file.ts` we should return `index.ts`).

But this case is intresting (especially since module request can only be done for Node.js), to be honest I don't have strong opinion here, on the one hand, violation of the specification

[2022-09-16 12:27] remcohaszing commented on #355
I see what you mean, but I don’t consider this to be a violation of the spec, but parity with the rest of the ecosytem.

As can be seen in the output I posted, Webpack already tries to apply the extensions defined in `resolve.extensions` to the resolved import. This would be the same type of violation.

[code]

TypeScript’s `node16` module resolution, understands that the referenced `.js` file ref

[2022-09-16 12:56] alexander-akait commented on #355
I think the problem is still unresolved (in esbuild and for us too) because it creates a situation where users start writing:
[code]

Because they will expect mapping `ts`(`tsx`) to `js`, but it is fully wrong...

[2022-09-16 13:54] alexander-akait commented on #355
hm, Intresting, if you have:
[code]

and `import foo from "foo/main.js";`, we apply `extensionAlias` logic, but output an error here, because it was not exports

But if you try:

[code]

All works fine...

@vankop What do you think?

[2022-10-03 18:49] vankop commented on #355
I fully agree with @alexander-akait idea => `exports should work as written`.

btw this seems wrong to me:
[code]
we should not apply extensions..

[2022-10-15 15:10] 43081j opened #356 "Improve the typescript definitions"
Currently many of the exported types are `any` or very weakly typed.

It would be great if these types could be properly populated via the jsdoc.

For example, the various places you can pass options tend to accept `any` even though we have a strong type for the user options already.

---

I did actually start doing this but the overloads you have lead to a lot of craziness in the types.

For exam

[2022-10-15 15:35] 43081j commented on #356
according to the docs, this is fine:

[code]

according to the code i then figured it should be impossible to never have a resolve context:

https://github.com/webpack/enhanced-resolve/blob/651e57863e46afeccf1946b4275d7b2339152ed1/lib/Resolver.js#L267-L268

it turns out the code really is tricked into thinking we have a context, because we just pass the callback twice.

we're really doing `resolve

[2022-10-19 20:57] 43081j opened #358 "conditionNames defaults to `["node"]` according to docs, but possibly doesn't actually"
the readme specifies:

https://github.com/webpack/enhanced-resolve/blob/651e57863e46afeccf1946b4275d7b2339152ed1/README.md?plain=1#L86

however:

https://github.com/webpack/enhanced-resolve/blob/651e57863e46afeccf1946b4275d7b2339152ed1/lib/ResolverFactory.js#L194

seems here we don't actually default the condition names array to anything, so later on the various plugins receive and empty set.

sho

[2022-11-07 11:11] chinesehemp opened #360 "Could not resolve "pnpapi" with Webpack 5.74.0"
Hi all,

I'm trying to deploy my NextJS 12.3.1 app to Firebase using Firebase CLI 11.16.0 with Yarn 1.22.19.

<img width="179" alt="Screenshot 2022-11-07 at 11 36 47" src="https://user-images.githubusercontent.com/58605231/200301036-219c4007-7c1d-43f0-8872-a944ce45b771.png">

But I'm getting the following error when deploying with regards to pnpapi.

<img width="608" alt="Screenshot 2022-11-07 at

[2022-11-07 15:13] chinesehemp commented on #360
Okay, it looks like the issue was with next-transpile-modules pointing to enhanced-resolve@5.10.0 and @virgilsecurity/e3kit-browser using webpack 4 depending on enhanced-resolve@4.5.0. After I changed my package.json to forcednext-transpile-modules to resolve to enhanced-resolve@4.5.0 I was able to get pass the error.
[code]

[2022-11-07 15:13] #360 closed

[2022-11-11 14:39] jgornick commented on #273
@merceyz I'm trying to follow along in this older issue you created, but does #301 help with this original issue?

[2022-11-11 14:49] merceyz commented on #273
No, it shouldn't affect this issue.

[2022-11-14 10:56] chinesehemp commented on #263
Hi all, I'm having the same problem. I'm on yarn v1.22.19, with enhanced-resolve 5.10.0.

`node_modules/enhanced-resolve/lib/ResolverFactory.js` on line 126 is still reading `return require("pnpapi"); // eslint-disable-line node/no-missing-require`

Is there a way to fix this without locally hacking my node_modules?

[2022-11-22 17:07] ndelangen opened #362 "Latest release broke storybook"
In the latest release (about 2 hours ago since the time of writing this), storybook broke if users upgrade to the latest version of this package.

It seems that the virtual-modules-plugin we use is not compatible with this change:
https://www.npmjs.com/package/webpack-virtual-modules

We see the following error happening in our CI:
[code]
[link to CI](https://app.circleci.com/pipelines/github/stor

[2022-11-22 17:36] ndelangen commented on #362
This doesn't seem like something we can do.. we're not in control of which version `enhanced-resolve` the user uses.
We also do not have a dependency on `graceful-fs`.

And though we can force newer version of webpack to be used, this is mostly up to the end-user of storybook to decided.

Every new installation of storybook is broken, every user that has no lockfile, or updates their lockfile runs

[2022-11-22 18:04] yannbf commented on #362
Here are a couple more findings after some debugging.

I logged `file, err, stat` in:
[code]

And did the same in 5.11.0.

Here's running Storybook with enhanced-resolve 5.10.0:

[code]

So it seems like it tries to resolve `storybook-config-entry.js` in all possible extensions (cjs, mjs, etc...) **and fails**. Then _tries again_, and succeeds, and then you see the virtual module is found.

Now, f

[2022-11-22 18:26] yannbf commented on #362
## How to reproduce the issue

The fastest way to get a Storybook + Webpack project is by running the following command in the terminal:

[code]

[2022-11-23 02:27] hongxuWei commented on #362
we has the same problem.

[2022-11-23 05:45] yoyo837 opened #363 "Field 'browser' doesn't contain a valid alias configuration"
5.11.0 breaks `webpack`.

[2022-11-23 06:26] larixer commented on #362
@yannbf Thanks for the detailed repro steps! So the change introduced in:
https://github.com/webpack/enhanced-resolve/pull/324
has a consequence that additional `options` argument is passed, it does not matter what is passed inside `options` object, the mere fact is important to the logic at this line:
https://github.com/webpack/enhanced-resolve/blob/main/lib/CachedInputFileSystem.js#L163
It sends

[2022-11-23 06:46] markjm commented on #362
Yep - just traced the same line of reasoning. By same implication, there is no caching done on any requests with options, which probably isnt what we want from a perf perspective either (aside from virtual modules).

True fix is to support cache for requests with options, but that may take a small while to get working (need to check if there are wacky options for certain fs calls that might compli

[2022-11-23 06:56] ndelangen commented on #362
would it be possible to roll this back?

[2022-11-23 06:58] hongxuWei commented on #362
agree

[2022-11-23 08:31] mandarini commented on #362
agree, too!! :)

[2022-11-23 08:44] ndelangen commented on #362
I'll open a PR that reverts this change, hopefully @sokra can take a look soon.

[2022-11-23 10:42] xshua06 opened #365 "virtual module not found error"
enhanced-resolve: 5.11.0
webpack-virtual-modules: 0.4.4
webpack: 5.75.0

Module not found: Error

[2022-11-23 12:28] hongxuWei commented on #363
https://github.com/webpack/enhanced-resolve/issues/362

[2022-11-23 12:28] hongxuWei commented on #365
https://github.com/webpack/enhanced-resolve/issues/362

[2022-11-23 13:33] pvds commented on #362
If you can't wait for this issue to be resolved and you are using NPM 8 add this override to your `package.json`
[code]

I'm not sure what the equivalent using `resolutions` in `yarn` would be.

[2022-11-23 14:52] mkuklis commented on #362
in yarn you can do:

[code]

[2022-11-23 18:20] #362 closed

[2022-11-24 06:27] yoyo837 commented on #363
Fixed in #364

[2022-11-24 06:27] #363 closed

[2022-11-25 11:26] #365 closed